@CHARSET "UTF-8";
.h4_tit { background:url(/img/board/icon_tit.png) left center no-repeat; padding-left:23px; font-size:18px; font-weight:600; letter-spacing:-0.05em; color:#323232; margin-bottom:10px }
/* 탭메뉴 */
.tabBox_pub { width:100%; float:left; margin-bottom:30px }
.tabBox_pub ul { width:930px; height:44px; display:block; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; letter-spacing:-0.05em }
.tabBox_pub ul li { width:147px; height:29px; float:left; padding-top:13px; border:1px solid #e1e1e1; margin-right:7px }
.tabBox_pub ul li a { color:#9b9b9b }
.tabBox_pub ul li.on { width:147px; border:1px solid #00baff; background:url(/img/board/bg_tab_ovr.png) left top no-repeat }
.tabBox_pub ul li.on a { color:#00baff }
.tabBox_pub ul li.end { margin-right:0 }



/*block list*/
.list_top .publist_top_wrap{float:right}
.publist_top_wrap02{float:right}
.list_top .publist_top_wrap .b_srchBox, .list_top .publist_top_wrap .b_srchBox_gap,.list_top .publist_top_wrap .b_btn_listBox{float:left}
.list_top .publist_top_wrap .list_sort button{height:38px;padding:0;border:0;float:left}
.list_top .publist_top_wrap .list_sort button.sort01{width:72px}
.list_top .publist_top_wrap .list_sort button.sort02{width:72px}
.list_top .publist_top_wrap .list_sort button.sort03{width:95px}
.ContWrap .Contents .pub_list ul.pub_list_block{border-top:1px solid #00baff;margin-top:17px;width:100%;display:inline-block}
.ContWrap .Contents .pub_list ul.pub_list_block li{float:left;width:33.333%;background:#f1f1f1;text-align:center;margin-left:14px;margin-top:35px;padding-top:7px}
.ContWrap .Contents .pub_list ul.pub_list_block li.end{margin-right:0}
.ContWrap .Contents .pub_list ul.pub_list_block li span.tit_publist{padding:10px;height:44px;line-height:44px;text-align:left;color:#000;}

.list_top .publist_top_wrap02{float:right}
.list_top .publist_top_wrap02 .b_srchBox, .list_top .publist_top_wrap .b_srchBox_gap,.list_top .publist_top_wrap .b_btn_listBox{float:left}
.list_top .publist_top_wrap02 .list_sort button{height:38px;padding:0;border:0;float:left}
.list_top .publist_top_wrap02 .list_sort button.sort01{width:72px}
.list_top .publist_top_wrap02 .list_sort button.sort02{width:72px}
.list_top .publist_top_wrap02 .list_sort button.sort03{width:95px}
.ContWrap .Contents .pub_list ul.pub_list_block{border-top:1px solid #00baff;margin-top:17px;width:100%;display:inline-block}
.ContWrap .Contents .pub_list ul.pub_list_block li{float:left;width:33.333%;background:#f1f1f1;text-align:center;margin-left:14px;margin-top:35px;padding-top:7px}
.ContWrap .Contents .pub_list ul.pub_list_block li.end{margin-right:0}
.ContWrap .Contents .pub_list ul.pub_list_block li span.tit_publist{padding:10px;height:44px;line-height:44px;text-align:left;color:#000;}


.list_top .publist_top_wrap03{float:right}
.list_sort button{height:38px;padding:0;border:0;float:left}
.list_sort button.sort01{width:72px}
.list_sort button.sort02{width:72px}
.list_sort button.sort03{width:95px}


/* publication게시판 팝업 CSS 추가 */
.list_top .publist_top_wrap { width:81%;}
.list_top .publist_top_wrap03 { width:83%;float:right}
.pub_list .pub_list_block .tooltip { position:relative; }
.pub_list .pub_list_block .tooltip .img_publist { display:block;height:281px; }
.pub_list .pub_list_block .tooltip .tooltip_box {
	position: absolute;
	bottom: 50px;
	top:0px;
	left:0; right:0; 
	/*right: 1px;*/
	display: none;
	width: 100%;
	height: 333px;
	background-color: #000000;
	/*margin-left: 10px;*/

	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;

	color: #ffffff;
	text-align: center;
}

.pub_list .pub_list_block .tooltip .tooltip_detail {
	width: 100%;
	height: 250px;
	display: inline-block;
	text-align: center;
	background-color: #000000;
	color:#ffffff;
}
.pub_list .pub_list_block .tooltip .tooltip_info {
	width: 100%;
	display: inline-block;
	text-align: center;
	color:#ffffff;
}

/*block list2*/
.list_top .publist_top_wrap{float:right;width:81%}
/*.b_srchBox, .list_top .publist_top_wrap .b_srchBox_gap,.list_top .publist_top_wrap .b_btn_listBox{float:left}*/
.list_sort button{height:38px;padding:0;border:0;float:left}
.list_sort button.sort01{width:72px}
.list_sort button.sort02{width:72px}
.list_sort button.sort03{width:95px}
.ContWrap .Contents .pub_list02 ul.pub_list_block{border-top:1px solid #00baff;margin-top:17px;width:100%;display:inline-block}
.ContWrap .Contents .pub_list02 ul.pub_list_block li{float:left;width: 100%; border-top:2px solid #2d5fba; background:#f9f9f9;text-align:center;/*margin-left: 2%;*/margin-top:30px;/*padding-top:7px;*/ padding:10px; box-sizing: border-box;}
.ContWrap .Contents .pub_list02 ul.pub_list_block li.end{margin-right:0}
.ContWrap .Contents .pub_list02 ul.pub_list_block li p.star_publist{line-height:13px;text-align:left;padding:10px 10px 13px 10px;color:#2aade5;font-weight:600}

.ContWrap .Contents .pub_list02 ul.pub_list_block li .img_publist { width: 49%; height:199px; margin-right: 1%; float: left; }
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist { width: 50%; box-sizing: border-box; float: left; /*border-bottom:1px dotted #666;*/text-align:left;color:#333;}

.tit_publist .txt_box { font-size: 16px; /*color: #277cbc;*/ margin-bottom:5px; background: #3c69ad; color: #fff; padding:5px; text-align: center;}
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist p { font-size: 14px; word-break: break-all;}
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist p span { font-weight: 600; margin-right: 5px; color: #000;}

.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist dl { width:100%; font-size: 14px;}
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist dl:after { display: block; visibility: hidden; clear: both; content: ""; }
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist dt { font-weight: 600; width:35%; float: left; color: #000; }
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist dd { width:65%; float: left; word-break: keep-all; }

.tit_publist .tit_box { font-size: 15px; /*color: #277cbc;*/ margin-bottom:5px; background: #3c69ad; color: #fff; padding:5px; text-align: center;}
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist .ko_tit { word-break: keep-all; }
.ContWrap .Contents .pub_list02 ul.pub_list_block li .tit_publist .en_tit { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 14px;}

.pub_list ul.pub_list_blog{	border-top: 1px solid #00baff;	margin-top: 99px;}
.pub_list ul.pub_list_blog li{padding:30px 0;border-bottom:1px solid #dbdbdb;width:100%}
.pub_list ul.pub_list_blog li p.img_publist_blog{float:left;border:7px solid #f1f1f1;margin-right:30px}
.pub_list ul.pub_list_blog li .explanation p.tit_publist_blog01 a{font-size:24px;letter-spacing:-1px;color:#323232 }
.pub_list ul.pub_list_blog li .explanation .txt_publist_blog01 {padding:20px 0;}
.pub_list ul.pub_list_blog li .explanation .txt_publist_blog01 a{color:#787878;font-size:13px;}
.pub_list ul.pub_list_blog li .explanation .star_publist_blog01 a{padding:20px 0;float:right;line-height:13px;text-align:left;padding:14px 10px 3px 10px;color:#2aade5;font-weight:600}
.pub_list ul.pub_list_blog li .explanation p.star_publist_blog01 a{color:#787878;font-size:13px;}
.pub_list ul.pub_list_blog li .explanation p.txt_publist_blog02 a{color:#464646;font-size:16px; letter-spacing:-1px;line-height:25px;}
.pub_list ul.pub_list_blog li .explanation p.txt_publist_blog02{height:154px;padding-top:22px}
.pub_list ul.pub_list_blog li.end{margin-right:0}
.pub_list ul.pub_list_blog li .tit_publist{padding:10px;height:44px;text-align:left;color:#000;}
.pub_list ul.pub_list_blog li .star_publist{line-height:13px;text-align:left;padding:10px 10px 13px 10px;color:#2aade5;font-weight:600}


.pub_list02 ul.pub_list_blog{ border-top:1px solid #00baff;	margin-top:17px; float:left }
.pub_list02 ul.pub_list_blog li{padding:30px 0;border-bottom:1px solid #dbdbdb;width:100%}
.pub_list02 ul.pub_list_blog li p.img_publist_blog{float:left;border:7px solid #f1f1f1;margin-right:30px}
.pub_list02 ul.pub_list_blog li .explanation p.tit_publist_blog01 a{font-size:24px;letter-spacing:-1px;color:#323232}
.pub_list02 ul.pub_list_blog li .explanation .txt_publist_blog01 {padding:15px 0 0 0;float:left}
.pub_list02 ul.pub_list_blog li .explanation .txt_publist_blog01 a{color:#787878;font-size:13px;}
.pub_list02 ul.pub_list_blog li .explanation .star_publist_blog01 a{padding:20px 0;float:right;line-height:13px;text-align:left;padding:14px 10px 3px 10px;color:#2aade5;font-weight:600}
.pub_list02 ul.pub_list_blog li .explanation p.star_publist_blog01 a{color:#787878;font-size:13px;}
.pub_list02 ul.pub_list_blog li .explanation p.txt_publist_blog02 a{color:#464646;font-size:16px; letter-spacing:-1px;line-height:25px;}
.pub_list02 ul.pub_list_blog li .explanation p.txt_publist_blog02{height:174px;clear:right;padding-top:22px}
.pub_list02 ul.pub_list_blog li.end{margin-right:0}
.pub_list02 ul.pub_list_blog li .tit_publist{padding:10px;height:44px;text-align:left;color:#000;}
.pub_list02 ul.pub_list_blog li .star_publist{line-height:13px;text-align:left;padding:10px 10px 13px 10px;color:#2aade5;font-weight:600}


.pub_list03 .pub_list03_block{	border-top: 1px solid #00baff;	margin-top: 108px;}
.pub_list03_block li{float:left;width:218px;background:#f1f1f1;text-align:center;margin-left:14px;margin-top:15px;padding-top:7px}
.pub_list03 ul.pub_list03_block li.end{margin-right:0}
.pub_list03 ul.pub_list03_block li p.tit_publist03{padding:10px;padding-bottom:0;height:29px;text-align:left;color:#000;overflow:hidden;margin-bottom:14px}
.img_publist03 img{width:198px;height:120px}
.pub_list03 ul.pub_list03_blog{	border-top: 1px solid #00baff;	margin-top: 15px;	font-family:'Montserrat','Noto Sans KR', "Malgun Gothic", dotum;}
.pub_list03 ul.pub_list03_blog li{padding:30px 0;border-bottom:1px solid #dbdbdb;width:100%}
.pub_list03 ul.pub_list03_blog li p.img_publist03_blog{float:left;border:7px solid #f1f1f1;margin-right:30px}
.pub_list03 ul.pub_list03_blog li p.img_publist03_blog:after {  display: block; visibility: hidden; clear: both; content: "";  }
.img_publist03_blog a img{width:250px;height:182px}
.pub_list03 ul.pub_list03_blog li .explanation p.tit_publist03_blog01 a{font-size:24px;letter-spacing:-1px;color:#323232}
.pub_list03 ul.pub_list03_blog li .explanation .txt_publist03_blog01 {padding:15px 0 0 0;float:left} 
.pub_list03 ul.pub_list03_blog li .explanation .txt_publist03_blog01:after {  display: block; visibility: hidden; clear: both; content: "";  }
.pub_list03 ul.pub_list03_blog li .explanation .txt_publist03_blog01 a{color:#787878;font-size:13px;}
.pub_list03 ul.pub_list03_blog li .explanation .star_publist03_blog01 a{padding:20px 0;float:right;line-height:13px;text-align:left;padding:14px 10px 3px 10px;color:#2aade5;font-weight:600}
.pub_list03 ul.pub_list03_blog li .explanation p.star_publist03_blog01 a{color:#787878;font-size:13px;}
.pub_list03 ul.pub_list03_blog li .explanation p.txt_publist03_blog02 a{color:#464646;font-size:16px; letter-spacing:-1px;line-height:25px;}
.pub_list03 ul.pub_list03_blog li .explanation p.txt_publist03_blog02{height:174px;clear:right;padding-top:48px}
.pub_list03 ul.pub_list03_blog li.end{margin-right:0}
.pub_list03 ul.pub_list03_blog li .tit_publist{padding:10px;height:44px;text-align:left;color:#000;}
.pub_list03 ul.pub_list03_blog li .star_publist{line-height:13px;text-align:left;padding:10px 10px 13px 10px;color:#2aade5;font-weight:600}

/* pubview */
.basic_pubviewWrap2 {}
.basic_pubviewWrap2 .h4_tit{background:url(../../../img/board/icon_tit.png) left 45px no-repeat;padding-left:23px;font-size:18px;font-weight:600;letter-spacing:-0.05em;color:#323232;margin-bottom:10px;border-top:1px solid #dbdbdb; padding-top:44px}
.basic_pubviewWrap2 .pubview_text{padding:20px 0}
.basic_pubviewWrap2 .pubview_text p{color:#464646;line-height:26px;font-size:15px;letter-spacing:-0.05em;padding:5px 0 5px 24px}

.PubCont{text-align:center}
p.TitPubView{font-size:36px;font-weight:normal;letter-spacing:-1px;color:#323232;padding-top:58px}
p.TxtPubView2{padding:20px 0}
.b_ContBox .PubCont p.down_publist{padding-bottom:30px}
/*public iframe */
.b_ContBox .PubimgBox iframe {overflow-y: auto; overflow-x: hidden; border-style: none;}
.b_ContBox .PubimgBox div.pdfMent {display:none;}

/*date_list*/
.DateList02{border-top:1px solid #00baff;margin-top:108px}
.DateList03{border-top:1px solid #00baff;margin-top:30px}
.dat_list{ overflow:hidden; border:1px solid #d6d6d6; margin-bottom:20px;  }
.dat_list dt{ font-weight:600; font-size:14px; letter-spacing:-0.07em; line-height:22px;  background-color:#f5f5f5;padding:10px; border-bottom:1px solid #d6d6d6; overflow:hidden;}
.dat_list dt a{ display:block; color:#333; text-decoration:none;vertical-align:middle;}
.dat_list dd{ float:left; line-height:14px; width:300px; display:block; font-size:13px; padding:7px 10px; }
.dat_list dt span.noL{ width:70px; float:left; display:block;  font-size:15px;line-height:20px;}
.dat_list dt span.titleL{ width:540px;  float:left; color:#277cbc;font-size:15px;line-height:18px;display:block;}

#diarySampleBox .inp_txt { margin-bottom:5px }
.diary_file { margin-bottom:5px }

@media (max-width: 1198px){
	.b_ContBox .PubimgBox iframe {display:none;}
	.b_ContBox .PubimgBox object {display:none;}
	.b_ContBox .PubimgBox div.pdfMent {display:block;}
	.b_ContBox .PubimgBox div.pdfMent h3 {color:#ff0000;}
}