/* CSS Document */


/* 장비상세조회 */
.MoreView{padding-bottom:28px}
.MoreView dl{height:50px;border:1px solid #ebebeb;width:463px;line-height:47px}
.MoreView dl.MoreView01{float:left;border-right:none;border-bottom:none}
.MoreView dl.MoreView02{float:right;border-bottom:none}
.MoreView dl.MoreView03{float:left;border-right:none;margin-bottom:28px}
.MoreView dl.MoreView04{float:right;margin-bottom:28px}
.MoreView dl dt{background:url(../../../img/jipbank/common/mp_2dep_icon.png) 0 24px no-repeat;padding-left:10px;color:#666;font-size:16px;font-weight:600;margin-left:15px;float:left;padding-right:10px;}
.MoreView dl dd{margin-left:15px;float:left}
.MoreView dl dd.no_line{background:none}
.MoreView dl dd.line{background:url(../../../img/jipbank/common/top_menu_gap.gif) 0 21px no-repeat;padding-left:16px}
.MoreView dl dd.on{color:#3b88b7;border-bottom:3px solid #1884b2;font-weight:600}

.MoreViewList01{padding:20px;border:1px solid #ebebeb;clear:both;height:282px;background:#fafafa}
.MoreImg{float:left;height:282px;border:1px solid #ebebeb;margin-right:39px;line-height:35px}
.MoreTxt{float:right;width:479px}
.MoreTxt .MoreTop{border:1px solid #ebebeb;padding:5px;width:470px;font-size:11px;float:right;margin-bottom:20px;}
.MoreTxt .MoreTop span.MoreTopNo{display:block;width:463px;overflow:hidden}
.MoreTxt .MoreTop .star_publist_blog01{float:right;line-height:13px}
.MoreTxt .MoreTop .star_publist_blog01 a{color:#2aade5;line-height:15px;font-size:14px}
.MoreTxt .MoreTop{}
.MoreTxt h4.MoreViewTit{font-size:23px;color:#0c5473;font-weight:600;letter-spacing:-1px}
.MoreTxt h4.MoreViewTit span.MoreViewTit02{padding-left:15px;color:#323232;font-size:14px;letter-spacing:-0.5px}
.MoreTxt dl{line-height:28px;font-size:15px;color:#444;padding-top:20px;padding-bottom:20px}
.MoreTxt dl dt{float:left;width:132px;color:#3b87b8;font-weight:600}
.MoreTxt dl dd{}
.MoreTxt dl dd.map{width:741px;height:273px;background:#ebebeb}
.MoreTxt .b_btn_area3{height:36px}
.MoreTxt .b_btn_area3 button.btn_lft{width:235px;height:33px;padding:0;float:left;border:1px solid #464646;background:#fff;font-size:16px;letter-spacing:-0.03em;color:#000}

.MoreViewEX{padding-top:30px;clear:both}
.MoreViewEX dl{background:#fafafa}
.MoreViewEX dl dt{float:left;backgound:#fafafa;color:#666;font-weight:600;width:162px;border-top:1px solid #ebebeb;padding:21px 15px;display:block;}
.MoreViewEX dl dd{border-top:1px solid #ebebeb;margin-left:183px;padding:21px 18px;background:#fff;line-height:23px}
.MoreViewEX dl dd.map{width:747px;height:273px;padding:0}


/*160621추가*/

.basicWrap .h3_tit{font-size:22px;font-weight:600;letter-spacing:-1px;color:#333;padding:15px;border:1px solid #ebebeb;margin-top:32px;margin-bottom:10px}
.basicWrap .h4_tit{background:url(/img/board/icon_tit.png) left 45px no-repeat;padding-left:23px;font-size:18px;font-weight:600;letter-spacing:-0.05em;color:#323232;margin-bottom:10px;padding-top:44px}
.basicWrap li{padding-left:20px;line-height:25px}
.basicWrap p{text-align:right;line-height:25px}

.h4_style_1 {padding:18px 0 0 0; font-size: 18px; font-weight: 600;   }
.p_box_1 p {text-align:justify !important;}

.basicWrap .h3_tit{font-size:22px;font-weight:600;letter-spacing:-1px;color:#333;padding:15px;border:1px solid #ebebeb;margin-top:32px;margin-bottom:10px}
.basicWrap .h4_tit{background:url(/img/board/icon_tit.png) left 45px no-repeat;padding-left:23px;font-size:18px;font-weight:600;letter-spacing:-0.05em;color:#323232;margin-bottom:10px;padding-top:44px}
.basicWrap ul li{background:url(/img/cont/list_dot.gif) 27px 12px no-repeat;padding-left:41px}
.basicWrap li{padding-left:20px;line-height:25px}
.basicWrap p{text-align:right;line-height:25px}

/*JNTIS소개*/
.Cont24{background:url(/img/jntis/cont/bg_cont24.png) right top no-repeat}
.Cont24 .Cont24Img{width:408px;padding-top:50px}
.Cont24 .Cont24txt{width:558px;padding:30px 0 87px 0px;font-size:15px;line-height:34px}
.Cont24  .Cont2401{width:854px;height:650px;background:url(/img/jntis/cont/sub24.jpg) 22px 20px no-repeat;}
.Cont24  .Cont2401 ol.listnone{text-indent:-9999px}

/*JNTIS 인사말*/
.Cont111{background:url(/img/jntis/cont/bg_cont111.jpg) left top no-repeat;padding-left:300px}
.Cont111 p.Cont11101{font-size:18px;color:#1e1e1e;letter-spacing:-0.5px;font-weight:600;line-height:70px}
.Cont111 p.Cont11102{font-size:13px;color:#646464;line-height:25px}
.Cont111 p.Cont11103{font-size:16px;color:#416aa4;line-height:27px;letter-spacing:-0.5px;padding-top:15px}
.Cont111 p.Cont11104{text-align:right;color:#464646;font-size:17px;letter-spacing:-0.5px;font-weight:600;line-height:70px}

/*주요서비스*/
.Cont112{background:url(/img/jntis/cont/bg_cont24.png) right top no-repeat}
.Cont112 .Cont11201Img{width:408px;padding-top:71px}
.Cont112 .Cont112_homepge{padding-bottom:42px}
.Cont112 .Cont11201txt{width:558px;padding:30px 0 87px 0px;font-size:15px;line-height:34px}
.Cont112 .Cont11201 ol.listnone{text-indent:-9999px}
.Cont112 ul li{text-align:center;color:#464646;line-height:40px}
.Cont112 ul li.cont112_list01{width:352px;margin:0 auto;line-height:42px;font-size:14px;color:#464646}
.Cont112 ul li.cont112_list02{width:225px;float:left;margin-right:10px}
.Cont112 ul li.cont112_list03{width:225px;float:left;margin-right:10px}
.Cont112 ul li.cont112_list04{width:225px;float:left;margin-right:10px}
.Cont112 ul li.cont112_list05{width:225px;float:left}

.Cont11202{clear:both;padding-top:45px;}
.Cont11202list ol.cont112_list02 li{width:179px;height:43px;float:left;font-size:14px;color:#232323;letter-spacing:-0.5px;padding:24px 0 0 46px;margin-top:20px;}
.Cont11202list ol.cont112_list02 li.cont112_02list01{background:url(/img/jntis/cont/bg_cont112_02list01.png) no-repeat;margin-right:10px}
.Cont11202list ol.cont112_list02 li.cont112_02list02{background:url(/img/jntis/cont/bg_cont112_02list02.png) no-repeat;margin-right:10px}
.Cont11202list ol.cont112_list02 li.cont112_02list03{background:url(/img/jntis/cont/bg_cont112_02list03.png) no-repeat;margin-right:10px}
.Cont11202list ol.cont112_list02 li.cont112_02list04{background:url(/img/jntis/cont/bg_cont112_02list04.png) no-repeat;padding-top:18px;height:49px}
.Cont11202list ol.cont112_list02 li.cont112_02list05{background:url(/img/jntis/cont/bg_cont112_02list05.png) no-repeat;margin-right:10px;padding-top:18px;height:49px}
.Cont11202list ol.cont112_list02 li.cont112_02list06{background:url(/img/jntis/cont/bg_cont112_02list06.png) no-repeat;margin-right:10px}
.Cont11202list ol.cont112_list02 li.cont112_02list07{background:url(/img/jntis/cont/bg_cont112_02list07.png) no-repeat;}

.Cont11203list{clear:both;padding-top:45px;}
.Cont11203list ol.cont112_list03{}
.Cont11203list ol.cont112_list03 li{width:179px;height:49px;float:left;font-size:14px;color:#232323;letter-spacing:-0.5px;padding:18px 0 0 46px;margin-top:20px;}
.Cont11203list ol.cont112_list03 li.cont112_03list01{background:url(/img/jntis/cont/bg_cont112_03list01.png) no-repeat;margin-right:10px}
.Cont11203list ol.cont112_list03 li.cont112_03list02{background:url(/img/jntis/cont/bg_cont112_03list02.png) no-repeat;margin-right:10px}
.Cont11203list ol.cont112_list03 li.cont112_03list03{background:url(/img/jntis/cont/bg_cont112_03list03.png) no-repeat;margin-right:10px}
.Cont11203list ol.cont112_list03 li.cont112_03list04{background:url(/img/jntis/cont/bg_cont112_03list04.png) no-repeat;}
.Cont11203list ol.cont112_list03 li.cont112_03list05{background:url(/img/jntis/cont/bg_cont112_03list05.png) no-repeat;margin-right:10px}
.Cont11203list ol.cont112_list03 li.cont112_03list06{background:url(/img/jntis/cont/bg_cont112_03list06.png) no-repeat;margin-right:10px;padding-top:24px;height:43px}
.Cont11203list ol.cont112_list03 li.cont112_03list07{background:url(/img/jntis/cont/bg_cont112_03list07.png) no-repeat;padding-top:24px;height:43px}

.Cont11204list{clear:both;background:url(/img/jntis/cont/bg_cont112.png) right 28px no-repeat} 
.Cont11204list .Cont11204Img{width:431px;padding-top:96px}
.Cont11204list .Cont11204txt{width:558px;padding:28px 0 50px 0px;font-size:15px;line-height:34px}
.Cont11204list li{float:left;width:205px;font-size:13px;color:#666;height:54px;padding:32px 0 0 80px;margin-left:20px}
.Cont11204list li.cont112_04list01{background:url(/img/cont/bg_cont24_01.png) left center no-repeat;padding-top:38px;height:48px}
.Cont11204list li.cont112_04list02{background:url(/img/cont/bg_cont24_02.png) left center no-repeat;padding-top:38px;height:48px}
.Cont11204list li.cont112_04list03{background:url(/img/cont/bg_cont24_03.png) left center no-repeat}
.Cont11204list li.cont112_04list04{background:url(/img/cont/bg_cont24_04.png) left center no-repeat}
.Cont11204list li.cont112_04list05{background:url(/img/cont/bg_cont24_05.png) left center no-repeat;padding-top:25px;height:61px}
.Cont11204list li.cont112_04list06{background:url(/img/cont/bg_cont24_06.png) left center no-repeat;padding-top:25px;height:61px}
.Cont11204list li.cont112_04list07{background:url(/img/cont/bg_cont24_07.png) left center no-repeat;padding-top:38px;height:48px}

.Cont11205list{clear:both;padding-top:45px;background:url(/img/jipbank/cont/bg_cont24.png) right 10px no-repeat}
.Cont11205list .Cont11205Img{width:431px;padding-top:40px}
.Cont11205list .Cont11205txt{width:558px;padding:28px 0 59px 39px;font-size:15px;line-height:34px}
.Cont11205list li{float:left;width:205px;font-size:13px;color:#666;height:54px;padding:32px 0 0 80px;margin-left:20px}
.Cont11205list li.cont112_05list01{background:url(/img/jipbank/cont/bg_cont24_01.png) left center no-repeat;padding-top:38px;height:48px}
.Cont11205list li.cont112_05list02{background:url(/img/jipbank/cont/bg_cont24_02.png) left center no-repeat;padding-top:25px;height:61px}
.Cont11205list li.cont112_05list03{background:url(/img/jipbank/cont/bg_cont24_03.png) left center no-repeat}
.Cont11205list li.cont112_05list04{background:url(/img/jipbank/cont/bg_cont24_04.png) left center no-repeat}
.Cont11205list li.cont112_05list05{background:url(/img/jipbank/cont/bg_cont24_05.png) left center no-repeat;}
.Cont11205list li.cont112_05list06{background:url(/img/jipbank/cont/bg_cont24_06.png) left center no-repeat;}
.Cont11205list li.cont112_05list07{background:url(/img/jipbank/cont/bg_cont24_07.png) left center no-repeat;}


/*찾아오시는길*/
#testMap{border:1px solid #ebebeb; width:100%!important; height:400px; margin:0 0 20px 0!important}
.Cont101{background:#f9f9f9}
.Cont101 dl{border-bottom:1px solid #ededed;padding:23px 0 16px 102px;height:68px;margin:0 20px}
.Cont101 dl.Cont101List01{float:left;background:url(/img/common/map_icon01.png) 25px 24px no-repeat}
.Cont101 dl.Cont101List01 dt{padding-top:8px}
.Cont101 dl.Cont101List02{float:left;background:url(/img/common/map_icon02.png) 15px 24px  no-repeat;margin-right:0;width:306px;padding-left:92px}
.Cont101 dl.Cont101List02 dt{padding-top:8px}
.Cont101 dl.Cont101List03{background:url(/img/common/map_icon03.png) 25px 24px  no-repeat;clear:both;}
.Cont101 dl.Cont101List04{background:url(/img/common/map_icon04.png) 25px 24px  no-repeat}
.Cont101 dl.Cont101List05{background:url(/img/common/map_icon05.png) 25px 24px  no-repeat;border-bottom:none}
.Cont101 dl dt{font-size:16px;color:#1e1e1e;padding-bottom:5px}
.Cont101 dl dd{font-size:13px;color:#323232;line-height:20px}


/*이메일무단수집거부*/
.dsc_img{border:1px solid #ebebeb; background:url(/img/common/bg_email.jpg) 33px 26px no-repeat;text-align:left;padding:20px 20px 20px 155px}
.dsc_img p.email01{color:#8e474f;font-size:13px;font-weight:600;letter-spacing:-1px;text-align:left}
.dsc_img p.email02{font-size:12px;letter-spacing:-1px;text-align:left}




