/* CSS Document */
.header {background:url(/img/jntiss/main/bg_main.jpg)  no-repeat center 0px; width:100%; height:525px;  }
div.contents {width:912px; margin:0 auto; height:387px;}
div.contents_btn {width:911px;}
div.login_box {width:578px; float:left; margin-top:10px;}
div.cont_left {float:right;}
div.img {display:block; margin:0 auto; padding-top:116px; text-align: center; padding-right:412px;}

.login_logo {margin:0 0 25px 0;}

.LoginInputBox {float:left; padding:0 16px 0 0;}

.IdBox {width:332px;}
.PwBox {width:332px;}

.IdBox .Id {float:left;width:72px;text-align:right;padding-right:10px;font-weight:600;line-height:36px;font-size:18px}
.InputIdBox .input-id {width:248px;height:36px;margin-bottom:15px}
.PwBox .Pw {float:left;width:72px;text-align:right;padding-right:10px;font-weight:600;line-height:36px;font-size:18px}
.InputPwBox .input-pw {width:248px;height:36px;margin-bottom:15px}

.LoginBtnBox {float:left;}
.LoginBtnBox_1 {float:left; margin:0 0 0 6px;}

.LogintextBox {width:426px; float:left; padding-left:94px; margin-top:6px; margin-bottom:6px;}


.Logintext_1 {}
.Logintext_1 ul {}
.Logintext_1 li {float:left; padding:8px;}

/* MainVisual */
.MainVisualWrap{width:100%;height:506px;background:url(/img/jntis/main/main_visual.jpg) center top no-repeat;margin-top:-45px}

.MainVisual{width:1200px;height:506px;margin:0 auto}

.MainVisual img{ padding:80px 0 0 40px }
.MainVisual img{ padding:130px 0 0 40px \0/IE8+9 }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .MainVisual img{ padding:80px 0 0 40px } }

ul.MVisualLinkList{position:absolute;top:455px;}
ul.MVisualLinkList li{width:400px;height:154px;cursor:pointer;float:left;}

ul.MVisualLinkList li h3 { color:#fff;font-size:21px;font-weight:600;padding:21px 0 0 25px;letter-spacing:-1px;font-family:Malgun Gothic }

/* ul.MVisualLinkList li p.MVLTit{color:#fff;font-size:21px;font-weight:600;padding:21px 0 0 25px;letter-spacing:-1px;font-family:Malgun Gothic} */
ul.MVisualLinkList li p.MVLTxt{color:#fff;font-size:13px;font-weight:600;padding:15px 0 0 25px;line-height:17px}
ul.MVisualLinkList li img{padding:13px 0 0 284px}
ul li.MVisualLinkList01{background:url(/img/jntis/main/bg_quicklink0101.gif) no-repeat;}
ul li.MVisualLinkList02{background:url(/img/jntis/main/bg_quicklink0102.gif) no-repeat;}
ul li.MVisualLinkList03{background:url(/img/jntis/main/bg_quicklink0103.gif) no-repeat;display:none}
ul li.MVisualLinkList04{background:url(/img/jntis/main/bg_quicklink0104.gif) no-repeat;}

/* MainCont01 */
.MainContBg{width:100%;background:#f0f1f6}
.MainContWrap{width:1200px;margin:0 auto}
.MainCont01{height:154px;padding:24px 0 29px 0}
.MainCont01 .MCSection01{float:left;}

/* 160907
.MainCont01 .MCSection01 li.enroll01{text-indent:-9999px;background:url(/img/jntis/main/btn_main01.png) no-repeat;width:104px;height:75px;cursor:pointer}
.MainCont01 .MCSection01 li.enroll02{text-indent:-9999px;background:url(/img/jntis/main/btn_main02.png) left 5px no-repeat;width:104px;height:75px;cursor:pointer;padding-top:5px}
*/

.MainCont01 .MCSection01 li.enroll01{width:104px;height:75px;cursor:pointer}
.MainCont01 .MCSection01 li.enroll02{width:104px;height:75px;cursor:pointer;padding-top:5px}

.MainCont01 .MCSection02{float:left;padding-left:24px;width:250px}
.MainCont01 .MCSection02 h3{background:url(/img/jntis/main/icon_main01.png) no-repeat;padding-left:24px;color:#4873d9;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #4873d9;
                            padding-bottom:13px;margin-bottom:5px}
.MainCont01 .MCSection02 li{line-height:31px;letter-spacing:-0.5px}
.MainCont01 .MCSection02 li em.title{float:left;width:106px;font-style:normal}
.MainCont01 .MCSection02 li p.num{text-align:right;}
.MainCont01 .MCSection02 a{position:relative;float:right;top:-154px;right:0}
.MainCont01 .MCSection03{float:left;padding-left:24px;width:250px}
.MainCont01 .MCSection03 h3{background:url(/img/jntis/main/icon_main02.png) no-repeat;padding-left:24px;color:#249ddf;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #249ddf;
                            padding-bottom:13px;margin-bottom:5px}
.MainCont01 .MCSection03 li{line-height:31px;letter-spacing:-0.5px}
.MainCont01 .MCSection03 li em.title{float:left;width:106px;font-style:normal}
.MainCont01 .MCSection03 li p.num{text-align:right;}
.MainCont01 .MCSection03 a{position:relative;float:right;top:-154px;right:0}
.MainCont01 .MCSection04{float:left;padding-left:24px;width:250px}
.MainCont01 .MCSection04 h3{background:url(/img/jntis/main/icon_main03.png) no-repeat;padding-left:24px;color:#3378d9;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #3378d9;
                            padding-bottom:13px;margin-bottom:5px}
.MainCont01 .MCSection04 li{line-height:31px;letter-spacing:-0.5px}
.MainCont01 .MCSection04 li em.title{float:left;width:128px;font-style:normal}
.MainCont01 .MCSection04 li p.num{text-align:right;}
.MainCont01 .MCSection04 a{position:relative;float:right;top:-154px;right:0}
.MainCont01 .MCSection05{float:left;padding-left:24px;width:250px}
.MainCont01 .MCSection05 h3{background:url(/img/jntis/main/icon_main04.png) no-repeat;padding-left:24px;color:#2b7790;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #2b7790;
                            padding-bottom:13px;margin-bottom:5px}
.MainCont01 .MCSection05 li{line-height:31px;letter-spacing:-0.5px}
.MainCont01 .MCSection05 li em.title{float:left;width:114px;font-style:normal}
.MainCont01 .MCSection05 li p.num{text-align:right;}
.MainCont01 .MCSection05 a{position:relative;float:right;top:-154px;right:0}

/* MainCont02 */
.MainCont02{background:url(/img/jntis/main/line_cont02.gif) no-repeat;width:1200px;height:562px}
.MainCont02 .BoardWrap01{width:557px;;float:left;padding-top:10px}
.MainCont02 .BoardWrap01 .board01{width:100%;height:250px;position:relative;padding-left:32px;margin-top:8px;}
.MainCont02 .BoardWrap01 .board01 .article{float: left;margin-top:23px;}
.MainCont02 .BoardWrap01 .board01 h2{font-size:18px;font-weight:600;color:#2c5a9a;letter-spacing:-1px;padding-top:17px}
.MainCont02 .BoardWrap01 .board01 .article_mn1{}
.MainCont02 .BoardWrap01 .board01 .article_mn2()
.MainCont02 .BoardWrap01 .board01 .article_mn3{}
.article h3.TitBoard{font-size:15px;font-weight:normal;color:#2c5a9a; margin-right:1px}
.MainCont02 .BoardWrap01 .board01 .article h3.TitBoard01{}
.MainCont02 .BoardWrap01 .board01 .article h3.TitBoard02{}
.MainCont02 .BoardWrap01 .board01 .article h3.TitBoard03{}
.article h3.TitBoard a{width:104px;display:inline-block;padding:9px 0;text-align:center;background:#ffffff;border:1px solid #dbe4ea;color:#787878;cursor:pointer}
/*.article h3.TitBoard a.on{color:#ffffff;border:1px solid #6b77b0;background:#6b77b0;font-weight:600}*/
.article h3.TitBoard a.on{color:#ffffff;border:1px solid #6b77b0;background:#6b77b0;font-weight:600; background:#6b77b0 url(/img/jntis/main/bu_tab.png) 8px no-repeat}

.ConBoard{position:absolute;width:100%;left:0px; top:110px;}
.ConBoard a.more{position:absolute;top:-40px;right:40px}
.ConBoard a.more2{position:absolute;top:5px;right:40px}
.ConBoard ul.ListBoard li a{position:relative}
.ConBoard ul.ListBoard{margin:0px 38px 0 32px}

.ConBoard ul.ListBoard li{overflow:hidden;padding:11px 0 0 0;height:20px;font-size:15px;line-height:20px;}
.ConBoard ul.ListBoard li span.subject{display:inline-block;float:left;width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.ConBoard ul.ListBoard li span.subject a{color:#666;cursor:pointer}
.ConBoard ul.ListBoard li span.company{color:#161661;text-align:right;padding-right:7px;margin-right:8px;font-size:13px;line-height:16px}
.ConBoard ul.ListBoard li span.date{display:inline-block;float:right;line-height:16px;color:#666;font-size:13px;letter-spacing:-1px}

.ConBoard ul.ListBoard02 li a{position:relative}
.ConBoard ul.ListBoard02 {margin:0px 38px 0 32px}
.ConBoard ul.ListBoard02 li{overflow:hidden;padding:11px 0 0 0;height:20px;font-size:15px;line-height:20px;}
.ConBoard ul.ListBoard02 li span.subject{display:inline-block;float:left;width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.ConBoard ul.ListBoard02 li span.subject a{color:#666;cursor:pointer}
.ConBoard ul.ListBoard02 li span.company{color:#161661;text-align:right;padding-right:7px;margin-right:8px;font-size:13px;line-height:16px}
.ConBoard ul.ListBoard02 li span.date{display:inline-block;float:right;line-height:16px;color:#666;font-size:13px;letter-spacing:-1px}

.ConBoard ul.ListBoard03 li a{position:relative}
.ConBoard ul.ListBoard03 {margin:0px 38px 0 32px}
.ConBoard ul.ListBoard03 li{overflow:hidden;padding:11px 0 0 0;height:20px;font-size:15px;line-height:20px;}
.ConBoard ul.ListBoard03 li span.subject{display:inline-block;float:left;width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.ConBoard ul.ListBoard03 li span.subject a{color:#666;cursor:pointer}
.ConBoard ul.ListBoard03 li span.company{color:#161661;text-align:right;padding-right:7px;margin-right:8px;font-size:13px;line-height:16px}
.ConBoard ul.ListBoard03 li span.date{display:inline-block;float:right;line-height:16px;color:#666;font-size:13px;letter-spacing:-1px}

.ConBoard ul.ListBoard04 li a{position:relative}
.ConBoard ul.ListBoard04 {margin:0px 38px 0 32px}
.ConBoard ul.ListBoard04 li{overflow:hidden;padding:11px 0 0 0;height:20px;font-size:15px;line-height:20px;}
.ConBoard ul.ListBoard04 li span.subject{display:inline-block;float:left;width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.ConBoard ul.ListBoard04 li span.subject a{color:#666;cursor:pointer}
.ConBoard ul.ListBoard04 li span.company{color:#161661;text-align:right;padding-right:7px;margin-right:8px;font-size:13px;line-height:16px}
.ConBoard ul.ListBoard04 li span.date{display:inline-block;float:right;line-height:16px;color:#666;font-size:13px;letter-spacing:-1px}

.MainCont02 .BoardWrap02{width:557px;;float:right;}
.MainCont02 .BoardWrap02 .board02{width:100%;height:250px;float:right;position:relative;padding-left:32px;margin-top:10px;}
.MainCont02 .BoardWrap02 .board02 .article{float: left;margin-top:23px;}
.MainCont02 .BoardWrap02 .board02 h2{font-size:18px;font-weight:600;color:#2c5a9a;letter-spacing:-1px;padding-top:17px}

.MainCont02 .BoardWrap03{width:557px;;float:left;clear:both}
.MainCont02 .BoardWrap03 .board03{width:100%;height:250px;position:relative;padding-left:32px;margin-top:6px;}
.MainCont02 .BoardWrap03 .board03 .article{float: left;margin-top:23px;}
.MainCont02 .BoardWrap03 .board03 h2{font-size:18px;font-weight:600;color:#2c5a9a;letter-spacing:-1px;padding-top:65px}

.MainCont02 .BoardWrap04{width:557px;;float:right}
.MainCont02 .BoardWrap04 .board04{width:100%;height:250px;float:right;position:relative;padding-left:32px;margin-top:6px;}
.MainCont02 .BoardWrap04 .board04 .article{float: left;margin-top:23px;}
.MainCont02 .BoardWrap04 .board04 h2{font-size:18px;font-weight:600;color:#2c5a9a;letter-spacing:-1px;padding-top:65px}

/* MainCont03 */
.MainCont03{width:1200px;margin:0 auto;background:url(/img/jntis/main/bg_quicklink.jpg) no-repeat;height:118px}
.MainCont03 ul li{width:140px;float:left;text-align:center;padding-top:50px;margin-top:25px; margin-right:1px;cursor:pointer}
.MainCont03 ul li a{color:#fff;font-weight:600;cursor:pointor}
.MainCont03 ul li.QuickLink01{background:url(/img/jntis/main/icon_quick01.png) 83px 0 no-repeat;padding-left:40px}
.MainCont03 ul li.QuickLink02{background:url(/img/jntis/main/icon_quick02.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink03{background:url(/img/jntis/main/icon_quick03.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink04{background:url(/img/jntis/main/icon_quick04.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink05{background:url(/img/jntis/main/icon_quick05.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink06{background:url(/img/jntis/main/icon_quick06.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink07{background:url(/img/jntis/main/icon_quick07.png) 41px 0 no-repeat;}
.MainCont03 ul li.QuickLink08{background:url(/img/jntis/main/icon_quick08.png) 41px 0 no-repeat;}

/* MainCont04 */
.MainCont04{width:1200px;margin:0 auto;height:214px;padding-top:31px}
.MainCont04 h2.tit_MC04{background:url(/img/jntis/main/icon_main05.png) no-repeat; padding-left:28px;color:#6370c3;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #6370c3;padding-bottom:13px;margin:0 26px 20px 26px}
.MainCont04 ul li{float:left;padding-left:16px}
.MainCont04 ul li.first{padding-left:25px}
.MainCont04 ul li em{background-color:rgba(85,114,126,0.8);position:relative;top:-27px;float:left;padding:6px 0;font-style:normal;width:217px;text-align:center}
.MainCont04 ul li em a{color:#fff;font-weight:600;font-size:13px;padding-left:10px 0}
.MainCont04 a.more{top:-235px;position:relative;float:right;right:26px}

/* MainCont05 */
.MainCont05{width:1160px;margin:0 auto;height:281px;clear:both}
.MainCont05 .Section0501{float:left;width:671px;background:url(/img/jntis/main/line_cont0501.gif) 0 40px no-repeat}
.MainCont05 .Section0501 h2.tit_MC05{background:url(/img/jntis/main/icon_main06.png) no-repeat; padding-left:28px;color:#396cba;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #396cba;padding-bottom:13px;margin-bottom:20px}
.MainCont05 .Section0501 ul{}
.MainCont05 .Section0501 ul li{float:left;width:227px;height:124px}
.MainCont05 .Section0501 ul li.MC050101{background:url(/img/jntis/main/icon_rnd01.png) 16px top no-repeat;padding-left:104px}
.MainCont05 .Section0501 ul li.MC050102{background:url(/img/jntis/main/icon_rnd02.png) 16px top no-repeat;padding-left:104px}
.MainCont05 .Section0501 ul li.MC050103{background:url(/img/jntis/main/icon_rnd03.png) 16px top no-repeat;padding-left:104px}
.MainCont05 .Section0501 ul li.MC050104{background:url(/img/jntis/main/icon_rnd04.png) 16px top no-repeat;padding-left:104px}
.MainCont05 .Section0501 p.Tit0501{font-size:18px;color:#444;font-weight:600;letter-spacing:-1px}
.MainCont05 .Section0501 p.Txt0501{font-size:13px;color:#666666;letter-spacing:-0.5px;padding:7px 0 15px 0}
.MainCont05 .Section0501 p.Txt0502{font-size:13px;color:#666666;letter-spacing:-0.5px;padding:7px 0 15px 0}

.MainCont05 .Section0502{float:right;width:454px}
.MainCont05 .Section0502 h2.tit_MC0502{background:url(/img/jntis/main/icon_main07.png) no-repeat; padding-left:28px;color:#2386d6;font-size:16px;font-weight:600;letter-spacing:-1px;border-bottom:1px solid #59a4e0;padding-bottom:13px;}



ul.PopupControl{float:right;top:-30px;right:0;position:relative}
	ul.PopupControl li{float:left; margin-left:1px}
	ul.PopupControl li a{width:20px;height:20px;cursor:pointer;text-indent:-9999px;display:block}
	ul.PopupControl li a.BtnPrev{background:url(/img/jntis/main/btn_prev.gif) no-repeat}
	ul.PopupControl li a.BtnNext{background:url(/img/jntis/main/btn_next.gif) no-repeat}
	ul.PopupControl li a.BtnStop{background:url(/img/jntis/main/btn_pause.gif) no-repeat}
	ul.PopupControl li a.BtnPlay{background:url(/img/jntis/main/btn_play.gif) no-repeat;width:21px}


/* banner */
.BannerWrap{width:100%; background:url(/img/main/bg_banner.png) 0 23px repeat-x;height:108px;clear:both}
.BannerWrap .Banner{width:1200px;margin:0 auto;}
.BannerWrap .Banner h3.TitBanner{float:left;padding-top:48px;font-weight:600;color:#444}
.BannerWrap .Banner ul.BannerControl{float:left;background:url(/img/main/line_banner.gif) 104px 0px no-repeat;height:55px; padding-top:16px; width:111px;margin:32px 0 0 16px}
.BannerWrap .Banner ul.BannerControl li{float:left; margin-right:1px}
.BannerWrap .Banner ul.BannerControl li a{width:20px;height:20px;cursor:pointer;text-indent:-9999px;display:block}
.BannerWrap .Banner ul.BannerControl li a.BtnPrev{background:url(/img/main/btn_prev01.gif) no-repeat;width:21px}
.BannerWrap .Banner ul.BannerControl li a.BtnNext{background:url(/img/main/btn_next01.gif) no-repeat}
.BannerWrap .Banner ul.BannerControl li a.BtnStop{background:url(/img/main/btn_stop01.gif) no-repeat}
.BannerWrap .Banner ul.BannerControl li a.BtnPlay{background:url(/img/main/btn_play01.gif) no-repeat}
.BannerWrap .Banner ul.BannerList{position:absolute;left:200px;top:45px;overflow:hidden;min-width:160px;width:100%;max-width:730px;height:30px;vertical-align:middle;}
.BannerWrap .Banner ul.BannerList li{display:inline;padding:0px 15px;}
.BannerWrap .Banner ul.BannerList li a{position:absolute;width:155px;top:0px;left:0px;}
.BannerWrap .Banner .JeonNam{float:right; background:url(/img/main/line_banner02.gif) no-repeat;width:227px;margin-top:31px;margin-left:18px;padding:12px 0 30px 20px;cursor:pointer}
.BannerWrap .Banner .JeonNam .JeonNamCi{width:214px}
.BannerWrap .Banner .JeonNam .JeonNamCi img.JeonNamImg{width:100%}


.footer {border-top-color:#DBDBDB; border-top-width:3px; border-top-style:solid; width:100%; height:80px;}
/*
.footer address {clear: both; width: 400px; height: 24px; margin-left:20px;text-indent: -9999px;}
.footer span {font-size: 0; line-height: 0;}
*/
.footer_cont {text-align:center; margin:0 auto; padding-top:15px; width:912px; }

.footer_logo {float:left; margin:0 30px 0 0;}
.footer_text {float:left;}

#edu_list01 {top:140px;}
#edu_list02 {top:140px;}
#edu_list02 .more{top:-65px;}
#edu_list03 {top:140px;}
#edu_list03 .more{top:-65px;}
