@charset "utf-8";

@import url("default.css");

#wrap {
	min-width: 1000px;
	width: 100%;
	min-height: 100%;
	height: auto;
	background-color: #fffff;
}

#wrap #header {
	width: 100%;
	height: 48px;
	line-height: 48px;
	position: relative;
	border-bottom: 5px solid #426567;
	text-valign:middle;
}

#wrap #header .top_logo {
	width: 300px;
	height: 48px;
	line-height: 48px;
}
#wrap #header .top_logo a img{

	vertical-align:middle;
}
#wrap #header 	.logout_box {
	position: absolute;
	right: 15px;
	top: 5px;
/* 	background-color: #ffffff; */
}

#wrap #container {
	position: relative;
	background-color: #e1e6e9;
}

#wrap #container #left_snb {
	position: absolute;
	top:0px;
	left:0px;
	width: 200px;
	height: 100%;
	background-color:#1b2229;
}

#wrap #container #left_snb .left_title {
	height: 70px;
	line-height: 70px;
	font-size: 17px;
	text-align: center;
	color: #ffffff;
}

#wrap #container #left_snb .left_menu {
	float: right;
	width: 180px;
}

#wrap #container #left_snb .left_main_menu {
	height: 30px;
	line-height: 30px;
	background-color: #5ca500;
	color: #ffffff;
	text-align: right;
	padding-right: 10px;
	margin-top: 15px;
	-moz-border-radius: 10px  0px 0px 10px;
 	-webkit-border-radius: 10px  0px 0px 10px;
	border-radius: 10px  0px 0px 10px;
	cursor:pointer;
}



#wrap #container #left_snb .left_main_menu._on {
	height: 30px;
	line-height: 30px;
	background-color: #ffffff;
	color: #292929;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

#wrap #container #left_snb .left_main_menu._ckon {
	height: 30px;
	line-height: 30px;
	background-color: #ffffff;
	color: #292929;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

#wrap #container #left_snb li {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	text-align: right;
	padding-right: 10px;
}
#wrap #container #left_snb li a{
		color: #a2a2a2;
}

#wrap #container #left_snb li._on {
	background: url('/imgs/back/comm/bg_menu_aw_right_on.png') no-repeat right;
}
#wrap #container #left_snb li._on a{
	color: #ffffff;
}

#wrap #container #left_snb li._ckon {
	background: url('/imgs/back/comm/bg_menu_aw_right_on.png') no-repeat right;
}
#wrap #container #left_snb li._ckon a{
	color: #ffffff;
}


#wrap #container .contents {
	position: relative;
	width: auto;
	height: auto;
	min-height: 700px;
	left: 200px;
	margin-right: 200px;
	padding-bottom:10px;
}

#wrap #container .contents .localbar {
	clear: both;
	background-color:#f1f2f4;
	border-bottom: 1px solid #dfe3e6;
	height: 40px;
	width: 100%;
}



#wrap #container .contents .localbar ul {
	list-style-type: none;
	padding-top: 13px;
	padding-left: 10px;
	letter-spacing: -1px;
}

#wrap #container .contents .localbar li {
	display: inline-block;
	color: #727272;
	padding-right: 1px;
	padding-left: 1px;
}
#wrap #container .contents .contents_box{
	background-color: #ffffff;
	margin:10px 10px 0px 10px;
	height:100%;
	min-height:630px;
	-moz-border-radius: 10px  10px 10px 10px;
 	-webkit-border-radius: 10px  10px 10px 10px;
	border-radius: 10px  10px 10px 10px;
}

#wrap #container .contents .contents_box .content_center{
	padding:10px 10px;
	max-width:1000px;
}

#main_footer {
	position: relative;
	text-align: center;
	vertical-align: bottom;
	color: #bbbbbb;
	border-top: 1px solid #dfe3e6;
	background-color: #f1f2f4;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.left_menu ul { padding:10px 0 10px 34px; background-color:#2d90b5;}
.nav_title {float:left;}
.nav_box {padding:10px 0 20px 0; border-bottom:#e8e8e8 1px solid; width:1000px; margin:0 0 14px 20px;}

.top_logo img {padding:8px 0 6px 32px;}