/* CSS Document */
.header {background:url(/imgs/main/bg_main.jpg)  no-repeat center 0px; width:100%; height:525px;  }
div.contents {width:912px; margin:0 auto; height:387px;}
div.contents_btn {width:911px;}
div.login_box {width:578px; float:left; margin-top:10px;}
div.cont_left {float:right;}
div.img {display:block; margin:0 auto; padding-top:116px; text-align: center; padding-right:412px;}

.login_logo {margin:0 0 25px 0;}

.LoginInputBox {float:left; padding:0 16px 0 0;}

.IdBox {width:332px;}
.PwBox {width:332px;}

.IdBox .Id {float:left;width:72px;text-align:right;padding-right:10px;font-weight:600;line-height:36px;font-size:18px}
.InputIdBox .input-id {width:248px;height:36px;margin-bottom:15px}
.PwBox .Pw {float:left;width:72px;text-align:right;padding-right:10px;font-weight:600;line-height:36px;font-size:18px}
.InputPwBox .input-pw {width:248px;height:36px;margin-bottom:15px}

.LoginBtnBox {float:left;}
.LoginBtnBox_1 {float:left; margin:0 0 0 6px;}

.LogintextBox {width:426px; float:left; padding-left:94px; margin-top:6px; margin-bottom:6px;}


.Logintext_1 {}
.Logintext_1 ul {}
.Logintext_1 li {float:left; padding:8px;}

/* MainVisual */

.MainCont01{}
.MainCont01 .VisualWrap{width:100%}
.MainCont01 .VisualWrap .VisualCont{width:1000px;margin:0 auto; background:url(/img/main/icon_main01.png) center 13px no-repeat #eb6253;}
.MainCont01 .VisualWrap .VisualCont ul.VisualBtn01{width:1200px;position:absolute;top:304px}
.MainCont01 .VisualWrap .VisualCont ul.VisualBtn01 li.PrevBtn{float:left}
.MainCont01 .VisualWrap .VisualCont ul.VisualBtn01 li.NextBtn{float:right;right:0}
.MainCont01 .VisualWrap .VisualCont ul.VisualBtn01 li a{}
.MainCont01 .VisualWrap .VisualCont p.VisualTxt{float:left;padding:33px 0 0 40px}
.MainCont01 .VisualWrap .VisualCont p.VisualTxt span.VTxt01{padding-right:20px;display:block}
.MainCont01 .VisualWrap .VisualCont p.VisualTxt span.VTxt02{padding-top:12px;display:block}
.MainCont01 .VisualWrap .VisualCont p.VisualTxt span.VTxt03{padding-top:25px;display:block}
.MainCont01 .VisualWrap .VisualCont p.VisualTxt span.VTxt03 img{margin-top:15px}

.MainCont01 .VisualWrap .VisualCont .QuickLink ul{float:left;margin:98px 0 0 0px;}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li{font-weight:600;font-size:15px;text-align:center;width:200px;height:130px;float:left;padding-top:30px;cursor:pointer;}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li.QL01{background:url(/img/portal/main/menu_box_1.jpg) center 13px no-repeat }
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li.QL02{background:url(/img/portal/main/menu_box_2.jpg) center 13px no-repeat }
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li.QL03{background:url(/img/portal/main/menu_box_3.jpg) center 13px no-repeat }
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li.QL04{background:url(/img/portal/main/menu_box_4.jpg) center 13px no-repeat}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li.QL05{background:url(/img/portal/main/menu_box_5.jpg) center 13px no-repeat}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li a{color:#fff}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li .TitTxt{float:left; margin: 5px 0px 0px 20px; text-align: left;}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li .midTxt{font-size:9px; float:left; width: 200px; margin: 20px 0px 20px 20px; text-align: left;}
.MainCont01 .VisualWrap .VisualCont .QuickLink ul li .linkTxt{float:left; margin: 0px 0px 0px 20px;}



.MainCont01 .VisualWrap .VisualCont .Srch{width:424px;height:134px;background:#7361c5;opacity:0.85;float:left;margin-top:52px;}
.MainCont01 .VisualWrap .VisualCont .Srch h4.TitSrch{font-size:18px;color:#ffffff;font-weight:600;padding:18px 0 0 23px}
.MainCont01 .VisualWrap .VisualCont .Srch h4.TitSrch p.ImgTitSrch{float:left;padding-right:4px}
.MainCont01 .VisualWrap .VisualCont .Srch h4.TitSrch span.TxtTitSrch{}
.MainCont01 .VisualWrap .VisualCont .Srch .SrchBox{position:relative;padding:22px 0 0 22px;}
.MainCont01 .VisualWrap .VisualCont .Srch .SrchBox input.ESearch{height:28px;width:249px;border:1px #f0e6da solid;font-size:17px;color:#666;padding:10px}
.MainCont01 .VisualWrap .VisualCont .Srch .SrchBox input.EQbtn{height:52px;width:105px;text-align:center;color:#ffffff;font-weight:600;background:#fc7375;border:0;}

.MainCont01 .VisualWrap .VisualBtnWrap{height:35px;margin:0 auto;top:593px;left:46%;text-align:center;position:absolute;}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox{}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02{width:auto;margin:0 auto}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02 li{width:22px;height:15px;background:url(/img/main/btn_page_off.png) center top no-repeat;overflow:hidden;float:left;cursor:pointer;zoon:1;display:inline-block}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02 li a{text-indent:-9999px;display:block}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02 li.on{background:url(/img/main/btn_page_on.png) center top no-repeat;}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02 li.stop{background:url(/img/main/btn_page_stop.png) center top no-repeat;}
.MainCont01 .VisualWrap .VisualBtnWrap .VisualBtnBox ul.VisualBtn02 li.play{background:url(/img/main/btn_page_play.png) center top no-repeat;}


.MainCont02Wrap{width:100%;height:458px;background:url(/img/portal/main/main_cen_img.jpg) repeat}
.MainCont02Wrap .MainCont02 {width:1000px;margin:0 auto;padding-top:8px; font-weight:600;}

/*
.MainCont02Wrap .MainCont02 .MainCont0201 .status{width:844px;float:left;}
.MainCont02Wrap .MainCont02 .MainCont0201 .status h4.tit_status{width:160px;height:48px;background:url(/img/main/icon_mid01_tit.png) no-repeat;float:left;letter-spacing:-0.5px}
.MainCont02Wrap .MainCont02 .MainCont0201 .status h4.tit_status{font-size:17px;color:#3c69ad;font-weight:600;padding:15px 0 0 43px}
.MainCont02Wrap .MainCont02 .MainCont0201 .status h4.tit_status p.date{font-size:12px;color:#5f87c4;line-height:14px}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList{}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li{width:144px;height:50px;float:left;font-weight:600;padding:13px 3px 0 13px}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li.SL01{background:url(/img/main/bg_mid01_list01.gif) no-repeat}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li.SL02{background:url(/img/main/bg_mid01_list02.gif) no-repeat;}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li.SL03{background:url(/img/main/bg_mid01_list03.gif) no-repeat;}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li.SL04{background:url(/img/main/bg_mid01_list04.gif) no-repeat;padding-right:0}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li em{font-size:14px;color:#666; font-style:normal;font-weight:normal}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li p{font-size:18px;color:#535a7e;}
.MainCont02Wrap .MainCont02 .MainCont0201 .status ul.StatusList li p span.unit{font-weight:normal}
*/
.MainCont02Wrap .MainCont02 .MainCont0201 .directlink{width:310px}
.MainCont02Wrap .MainCont02 .MainCont0201 .directlink .box{width:100%;height:314px;background:#ffffff;float:left;position:relative;border:1px solid #ebebeb}
.MainCont02Wrap .MainCont02 .directlink .linktitle{font-size:22px;font-weight:normal;height:43px;background:url(/img/portal/main/content_line.jpg) left top no-repeat;color:#444; margin: 15px 0px 0px 15px; padding: 10px 0px 0px 0px;}
.MainCont02Wrap .MainCont02 .directlink .linktitle span{padding-top:10px;}
.MainCont02Wrap .MainCont02 .directlink .box .imglink{width:100%; padding:5px;}
.MainCont02Wrap .MainCont02 .directlink .box .imglink .linkbox1{margin:10px; text-align:center}
.MainCont02Wrap .MainCont02 .directlink .box .imglink .linkbox2{margin:10px; text-align:center}
.MainCont02Wrap .MainCont02 .directlink .box .imglink .linkbox3{margin:10px; text-align:center}
.MainCont02Wrap .MainCont02 .directlink .box .imglink .linkbox4{margin:10px; text-align:center}
.MainCont02Wrap .MainCont02 .directlink .box .imglink ul{}
.MainCont02Wrap .MainCont02 .directlink .box .imglink li{ float: left; width: 140px; margin: 20px 0px 10px 0px; text-align:center;}
.MainCont02Wrap .MainCont02 .directlink .box .imglink li p{ margin-top: 5px;}
    

.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap{width:330px; float:left;}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board{width:100%; height: 314px;background:#ffffff;float:left;position:relative;padding-left:29px;border:1px solid #ebebeb}

.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article{float: left;margin-top: 20px;}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article_mn1{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article_mn2{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article_mn3{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard{font-size:11px;font-weight:normal;}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard01{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard02{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard03{}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard a{width:72px;display:inline-block;padding:9px 0;text-align:center;background:#ffffff;border:1px solid #dbe4ea;color:#787878;cursor:pointer}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article h3.TitBoard a.on{color:#ffffff;border:1px solid #6b77b0;background:#6b77b0;font-weight:600}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard{position:absolute;width:100%;left:0px; top:63px;padding:4px 0 0 0}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard a.more{position:absolute;top:-33px;right:40px}

.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li a{position:relative}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard .more{margin: 10px 40px 0px 0px; float:right}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard{margin:0px 38px 0 32px}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li{overflow:hidden;padding:11px 1px 0 0;line-height:33px;height:28px;font-size:12px;border-bottom:1px solid #ececec}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li span.subject{display:inline-block;float:left;line-height:16px;width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li span.subject a{color:#666;cursor:pointer}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li span.company{color:#161661;text-align:right;padding-right:7px;margin-right:8px;font-size:13px;line-height:16px}
.MainCont02Wrap .MainCont02 .MainCont0201 .BoardWrap .board .article .ConBoard ul.ListBoard li span.date{display:inline-block;float:right;line-height:16px;color:#666;font-size:13px;letter-spacing:-1px}

.MainCont02Wrap .MainCont02 .popupzone{position:relative;float:left; width: 325px; height: 314px; border: 1px solid #ebebeb;}
.MainCont02Wrap .MainCont02 .popupzone h3.Titpopupzone{font-size:22px;font-weight:normal;height:43px;background:url(/img/portal/main/content_line.jpg) left top no-repeat;color:#444; margin: 15px 0px 0px 15px; padding: 10px 0px 0px 0px;}
.MainCont02Wrap .MainCont02 .popupzone h3.Titpopupzone span{}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl{float:right;position:absolute;top:27px;right:0;     margin-right: 15px;}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li{float:left}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li a{width:17px;height:20px;cursor:pointer;text-indent:-9999px;display:block}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li a.on{background:url(/img/portal/main/mid_circ_ico2.png) no-repeat;width:21px; margin-top:5px;}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li a.off{background:url(/img/portal/main/mid_circ_ico1.png) no-repeat; margin-top:5px;} 
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li a.BtnStop{background:url(/img/portal/main/play_cont_ico2.jpg) no-repeat}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupControl li a.BtnPlay{background:url(/img/portal/main/play_cont_ico.jpg) no-repeat}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupList li{ text-align:center}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupList .popupImg { border: 1px solid #dbe4ea;}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupList li a{}
.MainCont02Wrap .MainCont02 .popupzone ul.PopupList li a img{}


.MainCont03Wrap{width:100%;padding-top:8px}
.MainCont03Wrap .MainCont03{width:1000px;margin:0 auto}
.MainCont03Wrap .MainCont03 .Cont03Box{position:relative;}
.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab{padding-bottom:6px}
.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li{display:inline-block;}
.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a{verticla-align:middle}
.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.TitTab01 {
	width: 127px;
	display: inline-block;
	padding: 17px;
	text-align: center;
	background: #ffffff;
	border: 1px solid #dbe4ea;
	color: #787878;
	cursor: pointer;
	font-size: 16px;
}

.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.TitTab02 {
	width: 134px;
	display: inline-block;
	padding: 17px 0;
	text-align: center;
	background: #ffffff;
	border: 1px solid #dbe4ea;
	color: #477892;
	cursor: pointer;
	font-size: 16px;
	background: url(/img/main/ico_mid01_tab02.png) 14px 17px no-repeat;
	padding-left: 24px;
}

.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li.on a.TitTab01 span.hidden{background:url(/img/main/logo_mid01_o.png) no-repeat;}
.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.TitTab01 span.hidden{text-indent:-9999px;display:block;background:url(/img/main/logo_mid01_n.png) no-repeat;float:left;width:83px}



.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.TitTab01.on {
	width: 127px;
	display: inline-block;
	padding: 17px;
	text-align: center;
	border: 1px solid #dbe4ea; color : #ffffff;
	background: #6ba8c9;
	cursor: pointer;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
}

.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.TitTab02.on {
	width: 134x;
	display: inline-block;
	padding: 17px 0;
	text-align: center;
	border: 1px solid #dbe4ea;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	background: url(/img/main/ico_mid01_tab02.png) #6ba8c9 14px 17px no-repeat;
	padding-left: 21px;
	cursor: pointer;
	font-size: 16px; 
	padding-left: 24px;
	font-weight: 600;
}

.MainCont03Wrap .MainCont03 .Cont03Box ul.DepthTab li a.on span.hidden{text-indent:-9999px;display:block;background:url(/img/main/logo_mid01_o.png) no-repeat;}


div.Cont03Sort{position:absolute;right:0px;top:-40px;}
	ul.sort{float:left;}
	ul.sort li{}
	.Cont03Sort ul.sort li a{line-height:18px;float:left;padding-left:20px;padding-right:13px;padding-top:8px;}
	.Cont03Sort ul.sort li a.sort01{background:url(/img/main/icon_sort01.png) 0 10px no-repeat;}
	.Cont03Sort ul.sort li a.sort02{background:url(/img/main/icon_sort02.png) 0 9px no-repeat;}
	ul.Cont03Control{float:left;}
	ul.Cont03Control li{float:left}
	ul.Cont03Control li a{width:32px;height:33px;cursor:pointer;text-indent:-9999px;display:block}
	ul.Cont03Control li a.BtnPrev{background:url(/img/main/btn_prev02.gif) no-repeat;width:33px}
	ul.Cont03Control li a.BtnNext{background:url(/img/main/btn_next02.gif) no-repeat}
	ul.Cont03Control li a.BtnStop{background:url(/img/main/btn_stop02.gif) no-repeat}
	ul.Cont03Control li a.BtnPlay{background:url(/img/main/btn_play02.gif) no-repeat}
	ul.ListImg{display:inline-block;padding-top:28px;padding-bottom:62px}
	ul.ListImg li{float:left;width:217px;height:218px;margin-right:26px;border:1px solid #cecece}
	ul.ListImg li.end{margin-right:0}
	ul.ListImg li a{}
	ul.ListImg li a .photo{}
	.photo img{width:217px;height:156px;border-bottom:1px solid #cecece}
	.TitPhoto{padding-left:11px;letter-spacing:-1px}
	.TitPhoto p.subject{padding-top:13px;color:#666;font-size:15px;letter-spacing:-1px}
	.TitPhoto p.agency{padding-top:4px;font-size:13px;color:#4c9fce}


.MainCont04Wrap{width:100%;padding-top:8px;background:url(/img/main/bg_mid02.gif) repeat;padding-bottom:31px}
.MainCont04Wrap .MainCont04{width:1200px;margin:0 auto}
div.Cont04Sort{position:absolute;right:0px;top:-50px;background:#eff4f8;height:25px;width:290px;padding:8px 9px 14px 263px;border:1px solid #dbe4ea}
	div.Cont04Sort ul.sort{float:left;padding-top:6px;width:158px}
	ul.sort li{}
	div.Cont04Sort ul.sort li a{line-height:18px;float:left;padding-left:23px;padding-right:13px}
	.Cont04Box{position:relative;}
	.Cont04Box ul.DepthTab li.on{background:#75c1de;font-weight:600;border-bottom:2px}
	.Cont04Box ul.DepthTab li.on a{color:#fff}
	.Cont04Box ul.DepthTab li{display:inline-block;width:127px;display:inline-block;padding:15px;text-align:center;background:#ffffff;border:1px solid #dbe4ea;color:#787878;cursor:pointer;font-size:16px}
	.Cont04Box ul.DepthTab li a{font-size:15px;padding-left:23px;text-align:center;color:#477892}
	.Cont04Box ul.DepthTab li a.TitTab01{background:url(/img/main/ico_mid02_tab01.png) no-repeat}
	.Cont04Box ul.DepthTab li a.TitTab02{background:url(/img/main/ico_mid02_tab02.png) no-repeat}
	.Cont04Box ul.DepthTab li a.TitTab03{background:url(/img/main/ico_mid02_tab03.png) no-repeat}
	.Cont04Box ul.DepthTab li a.TitTab04{background:url(/img/main/ico_mid02_tab04.png) no-repeat}

	a.sort01{background:url(/img/main/icon_sort01.png) 0 2px no-repeat;}
	a.sort02{background:url(/img/main/icon_sort02.png) 0 1px no-repeat;}
	ul.Cont04Control{float:left;top:27px;right:0;width:132px}
	ul.Cont04Control li{float:left}
	ul.Cont04Control li a{width:32px;height:33px;cursor:pointer;text-indent:-9999px;display:block}
	ul.Cont04Control li a.BtnPrev{background:url(/img/main/btn_prev02.gif) no-repeat;width:33px}
	ul.Cont04Control li a.BtnNext{background:url(/img/main/btn_next02.gif) no-repeat}
	ul.Cont04Control li a.BtnStop{background:url(/img/main/btn_stop02.gif) no-repeat}
	ul.Cont04Control li a.BtnPlay{background:url(/img/main/btn_play02.gif) no-repeat}

	ul.ListImg{display:inline-block;padding-top:8px;padding-bottom:8px;height:220px;}
	ul.ListImg li{display:inline-block;width:217px;height:218px;margin-right:26px;border:1px solid #ebebeb;}

	ul.ListImg li.end{margin-right:0}
	ul.ListImg li a{}
	ul.ListImg li a .photo{}
	.photo img{width:217px;height:156px;border-bottom:1px solid #ebebeb}
	.TitPhoto{padding-left:11px;letter-spacing:-1px}
	.TitPhoto p.subject{padding-top:13px;color:#666;font-size:15px;letter-spacing:-1px}
	.Cont03Box ul.ListImg li a span.TitPhoto p.subject{padding-left:10px}

	.TitPhoto p.agency{padding-top:4px;font-size:13px;color:#4c9fce}
	.Cont03Box ul.ListImg li a span.TitPhoto p.agency{padding-left:10px}

	.Cont04Box ul.ListImg{display:inline-block;padding-top:8px;padding-bottom:62px}
	.Cont04Box ul.ListImg li{float:left;width:170px;height:302px;margin-right:33px;border:1px solid #ebebeb}
	.Cont04Box ul.ListImg li.end{margin-right:0}
	.Cont04Box ul.ListImg li a{}
	.Cont04Box ul.ListImg li a .photo{}
	.Cont04Box .photo img{width:170px;height:240px;border-bottom:1px solid #ebebeb}
	.Cont04Box .TitPhoto{padding-left:11px;letter-spacing:-1px;background:#ebebeb;padding-bottom:12px}
	.Cont04Box .TitPhoto p.subject{padding-top:13px;color:#666;font-size:15px;letter-spacing:-1px}
	.Cont04Box .TitPhoto p.agency{padding-top:4px;font-size:13px;color:#4c9fce}

.BannerWrap{width:100%; float: left;height:102px}
.BannerWrap .Banner{width:1000px; height: 80px; margin:10px auto; background-color:#f7f7f7 }

.BannerWrap .Banner h3.TitBanner{float:left;font-weight:600;color:#444; margin: 30px 10px 0px 20px;}
.BannerWrap .Banner ul.BannerControl{float:left; height:55px; width:61px;margin: 33px 20px 0px 20px;}
.BannerWrap .Banner ul.BannerControl li{float:left}
.BannerWrap .Banner ul.BannerControl li a{width:20px;height:20px;cursor:pointer;text-indent:-9999px;display:block}
.BannerWrap .Banner ul.BannerControl li a.BtnPrev{background:url(/img/portal/main/banner_lb_ico1.jpg) no-repeat;width:21px}
.BannerWrap .Banner ul.BannerControl li a.BtnNext{background:url(/img/portal/main/banner_lb_ico3.jpg) no-repeat}
.BannerWrap .Banner ul.BannerControl li a.BtnStop{background:url(/img/portal/main/banner_lb_ico2.jpg) no-repeat}
.BannerWrap .Banner ul.BannerList{width:800px; float:left; margin:27px 0px 0px 0px}
.BannerWrap .Banner ul.BannerList li{display:inline;padding:0px 0px 0px 40px;}
.BannerWrap .Banner ul.BannerList li .bannerLine{padding:0px 0px 0px 30px;}

.BannerWrap .Banner ul.BannerList li a{width:155px;top:0px;left:0px;}
.BannerWrap .Banner .JeonNam{float:left; background:url(/img/main/bg_banner_jeonam.png) no-repeat;width:250px;margin-top:11px;margin-left:18px;padding:29px 0 30px 15px;cursor:pointer}




.footer {border-top-color:#DBDBDB; border-top-width:3px; border-top-style:solid; width:100%; height:80px;}
/*
.footer address {clear: both; width: 400px; height: 24px; margin-left:20px;text-indent: -9999px;}
.footer span {font-size: 0; line-height: 0;}
*/
.footer_cont {text-align:center; margin:0 auto; padding-top:15px; width:912px; }

.footer_logo {float:left; margin:0 30px 0 0;}
.footer_text {float:left;}
