@CHARSET "UTF-8";

/* 탭메뉴 */ 
.tabBox { width:100%; float:left; margin-bottom:50px }
.tabBox ul { width:930px; height:44px; display:block; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; letter-spacing:-0.05em }
.tabBox ul li { width:178px; height:29px; float:left; padding-top:13px; border:1px solid #e1e1e1; margin:0 3px 0px 2px }
.tabBox ul li a { color:#9b9b9b }
.tabBox ul li.on { width:180px; border:1px solid #00baff; background:url(/img/board/bg_tab_ovr.png) left top no-repeat }
.tabBox ul li.on a { color:#00baff }
.tabBox ul li.end { margin-right:0 }

/* 탭메뉴 ver2 */ 
.tabBox2 { width:100%; float:left; margin-bottom:50px }
.tabBox2 ul { width:930px; height:44px; display:block; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; letter-spacing:-0.05em }
.tabBox2 ul li { width:147px; height:29px; float:left; padding-top:13px; border:1px solid #e1e1e1; margin:0 3px 0px 2px  }
.tabBox2 ul li a { color:#9b9b9b }
.tabBox2 ul li.on { width:153px; border:1px solid #00baff; background:url(/img/board/bg_tab_ovr.png) left top no-repeat }
.tabBox2 ul li.on a { color:#00baff }
.tabBox2 ul li.end { margin-right:0 }

span.blue1 { color:#00baff }
span.notice_blue { color:#4d75b2; padding-right:10px; font-weight:600 }

.h4_tit { background:url(/img/board/icon_tit.png) left center no-repeat; padding-left:23px; font-size:18px; font-weight:600; letter-spacing:-0.05em; color:#323232; margin-bottom:10px }

/* b_btn_area */
.b_btn_area { width:930px; height:36px; float:left; margin-top:17px }
.b_btn_area .btn_rgt { width:90px; height:34px; float:right; background-color:#3c69ad; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none; margin-left:10px }
.b_btn_area .btn_rgt2 { width:90px; height:34px; float:right; background-color:#9f9d9f; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none; margin-left:10px }
.b_btn_area .btn_lft { width:90px; height:34px; float:left; background-color:#3c69ad; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none }
.b_btn_area .btn_lft2 { width:90px; height:34px; float:left; background-color:#9f9d9f; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none }

@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_rgt { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_rgt2 { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_lft { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_lft2 { padding:0px 0 0 0 } }


/* list_top */
.list_top { width:930px; height:37px }
.list_top .board_count { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }


/* 검색 */
.list_top .b_srchBox { float:right; width:397px; height:38px; margin:0px 0px 0 0px }
.list_top .b_srchBox .b_select { float:left; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.list_top .b_srchBox .b_srch { float:left; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.list_top .b_srchBox .b_srch .b_srch_txt { float:left; width:197px; height:27px; border:none; padding-left:7px; margin:5px 0 0 5px }
.list_top .b_srchBox .b_srch .b_go_btn { float:right; width:22px; height:20px; margin:8px 15px 0 0px }
.list_top .b_srchBox_gap { float:right; width:1px; height:37px; margin-left:19px }
.list_top .b_btn_listBox { float:right; width:auto; min-width:65px; margin:7px 0 0 19px }
.list_top .b_btn_listBox .b_btn_block { float:left; width:24px; height:24px; border:none; padding:0; background:none }
.list_top .b_btn_listBox .b_btn_blog { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top .b_btn_listBox .b_btn_list { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top .b_btn_listBox .b_btn_calendar { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }


.nctg{ position:relative; z-index:4; width:111px; float:left }
.btn_nctg{ display:block; overflow:hidden; width:101px; height:33px; padding:5px 0 0 10px; border:1px solid #e7e7e7; background:url(/img/common/select_arw.png) 95px center no-repeat; line-height:27px;
           font-size:13px; color:#4a4a4a }
a.btn_nctg:hover,a.btn_nctg:visited{ text-decoration:none }s
.nctg_on .btn_nctg{ background:url(/img/common/select_arw2.png) 95px center no-repeat; }
.cpress_lst{ position:absolute; top:40px; width:111px; padding:5px 0 4px; border:1px solid #d6d6d6; border-top:0; background-color:#fff }
.cpress_lst li{ width:101px; line-height:20px }
.cpress_lst li a{ display:block; width:101px; padding-left:10px; font-size:13px; color:#888; letter-spacing:-1px }
.cpress_lst li a:hover{ color:#888 }
.cpress_lst li a:visited{ color:#888 }
.cpress_lst li.on a,.cpress_lst li.on a:hover,.cpress_lst li.on a:visited{ color:#000 }
.cpress_lst li.bad a{ color:#ccc; text-decoration:none; cursor:default }


/* 일반list */
.basic_listWrap { width:100%; float:left; margin-top:13px }
table.skin_list { width:930px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table.skin_list tr td:last { border-right:none !important; }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_list th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_list th.r_line_none { border-right:none }
table.skin_list td { text-align:center; font-weight:400; color:#646464; padding:16px 0 16px 0; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1 }
table.skin_list td.b_notice { text-align:left; padding-left:20px; color:#1e1e1e }
table.skin_list td.r_line_none { border-right:none }
/* 신청 버튼 */
.b_btn_apply { width:68px; height:30px; padding:2px 0 0 0; border:1px solid #3b88b7; background-color:#fff; color:#3b88b7; font-size:14px }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_apply { height:32px; padding:0 0 0 0 } }
/* 비밀글 공지 */
span.notice_lock { background:url(/img/board/ico_lock.png) right center no-repeat; padding-right:20px }
/* 답변 */
span.notice_reply { background:url(/img/board/ico_reply.png) left 0px no-repeat; padding-left:13px }


/* 일반write */
.basic_writeWrap { width:100%; float:left }
table.skin_write { width:930px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write td { text-align:left; font-weight:400; color:#646464; padding:16px 0 16px 10px; border-bottom:1px solid #e1e1e1 }
table.skin_write td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write td.r_line_none { border-right:none }


/* 공통 write */
.b_check { margin-right:7px }
.b_label { margin-right:15px }
.b_txtbox1 { width:625px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox2 { width:742px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox3 { width:136px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb }
.b_txtbox4 { width:742px; min-height:200px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox5 { width:569px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox6 { width:552px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_btn_01 { height:36px; border:none; background-color:#ededed; padding:0 20px 0 20px; color:#646464; font-family:'NanumGothic', 'Malgun Gothic', dotum }
.b_btn_02 { height:36px; border:none; background-color:#e1e1e1; padding:0 20px 0 20px; color:#797979; font-family:'NanumGothic', 'Malgun Gothic', dotum }
.b_btn_03 { width:37px; height:37px; border:none; background:none; padding:0; vertical-align:middle }
.b_select2 { float:left; width:137px; height:35px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb; margin-bottom:5px; margin-right:5px }
.m_b_check { margin-top:5px }


/* 일반view */
.basic_viewWrap { width:100%; float:left }
table.skin_view { width:930px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_view th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_view th.lft_line { border-left:1px solid #e1e1e1 }
table.skin_view td { text-align:left; font-weight:400; color:#646464; padding:16px 0 16px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
table.skin_view td.b_notice { text-align:left; padding-left:20px; color:#1e1e1e }
table.skin_view td.view_cont { padding:50px 25px 80px 25px; line-height:25px }
table.skin_view td.r_line_none { border-right:none }
table.skin_view td.map { padding:5px }
table.skin_view td.map img { width:100%; height:100%; max-height:200px }
table.skin_view td.manager { padding:5px; width:129px; height:168px; border-bottom:1px solid #e1e1e1 }
.view_file { background:url(/img/board/ico_file.png) left center no-repeat; padding-left:20px; border:none; font-size:14px; letter-spacing:-0.03em; color:#646464  }

/* b_ContBox */
.b_ContBox { width:100%; float:left; margin-bottom:30px }
.b_ContBox .imgBox { width:395px; float:left; padding:10px; border:1px solid #e1e1e1 }
.b_ContBox .imgBox img { width:395px; height:405px }
/* 일반view2 */
.basic_viewWrap2 { width:500px; float:right }
table.skin_view2 { width:100%; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_view2 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_view2 th.lft_line { border-left:1px solid #e1e1e1 }
table.skin_view2 td { text-align:left; font-weight:400; color:#646464; padding:16px 0 16px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
table.skin_view2 td.r_line_none { border-right:none }


/* 이미지 게시판 - 기관관리 */
.skin_list_img { width:100%; float:left; border-top:1px solid #00baff; margin-top:13px; padding-top:30px }
.skin_list_img  ul { width:930px; float:left; display:block }
.skin_list_img  ul li { width:211px; height:263px; float:left; margin:0 26px 35px 0; border-top:2px solid #3c3c3c !important; border:1px solid #ebebeb }
.skin_list_img  ul li.end { margin-right:0 }
.skin_list_img  ul li .info_agency { width:211px; height:263px; float:left }
.skin_list_img  ul li .logo_agency { width:211px; height:152px; float:left }
.skin_list_img  ul li .logo_agency img { width:211px; height:152px }
.skin_list_img  ul li .cont_agency { width:181px; height:110px; float:left; margin-left:15px; border-top:1px solid #ebebeb }
.skin_list_img  ul li .cont_agency p.name_agency { font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#000; margin-top:23px }
.skin_list_img  ul li .cont_agency p.contact_agency { font-size:14px; font-weight:400; letter-spacing:-0.03em; color:#464646; margin-top:7px }
.skin_list_img  ul li .cont_agency p.link_agency { font-size:14px; font-weight:400; margin-top:10px }
.skin_list_img  ul li .cont_agency p.link_agency a { color:#4996c6 }


/* 페이지 */
.pagination { width:100%; float:left; text-align:center; margin:0 auto; margin-top:20px }
.pagination ul{ margin:0; display:inline-block }
.pagination ul li{ margin:0 2px; padding:0; float:left; background:none; width:34px; height:34px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:400 }
.pagination ul li a{ color:#646464; display:block; padding:8px 0 0 0; height:24px }
.pagination ul li:hover{ width:34px; height:34px; border:0 }
.pagination ul li:hover a{ color:#646464; display:block ;padding:8px 0 0 0; height:24px }
.pagination ul li.active{ width:34px; height:34px; border:0 }
.pagination ul li.active a{ color:#3b88b7; font-weight:400; display:block; padding:8px 0 0 0; height:24px }
.pagination ul li.first_page{ font-size:10px; border:0px; width:36px; height:32px; background:url(/img/board/p_first.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.first_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.first_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.prev_page{ font-size:10px; border:0px; width:36px; height:32px; margin-right:8px; background:url(/img/board/p_prev.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.prev_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.prev_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.next_page{ font-size:10px; border:0px; width:36px; height:32px; margin-left:8px; background:url(/img/board/p_next.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.next_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.next_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.last_page{ font-size:10px; border:0px; width:36px; height:32px; background:url(/img/board/p_last.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.last_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:32px }
.pagination ul li.last_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:32px }





@media (max-width: 1198px){

/* 탭메뉴 */ 
.tabBox ul { width:748px }
.tabBox ul li { width:141px }
.tabBox ul li.on { width:144px }
	
.h4_tit { margin-bottom:19px }
	
/* b_btn_area */
.b_btn_area { width:748px }
.b_btn_area .btn_rgt { width:90px; height:34px; float:right; border:1px solid #464646; padding:2px 0 0 0; background:none; font-size:14px; letter-spacing:-0.03em; color:#000; margin-left:10px }
.b_btn_area .btn_rgt2 { width:90px; height:34px; float:right; border:1px solid #9f9d9f; padding:2px 0 0 0; background:none; font-size:14px; letter-spacing:-0.03em; color:#5a5a5a; margin-left:10px }
.b_btn_area .btn_lft { width:90px; height:34px; float:left; border:1px solid #464646; padding:2px 0 0 0; background:none; font-size:14px; letter-spacing:-0.03em; color:#000 }
.b_btn_area .btn_lft2 { width:90px; height:34px; float:left; border:1px solid #9f9d9f; padding:2px 0 0 0; background:none; font-size:14px; letter-spacing:-0.03em; color:#5a5a5a }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_rgt { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_rgt2 { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_lft { padding:0px 0 0 0 } }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_area .btn_lft2 { padding:0px 0 0 0 } }


/* list_top */
.list_top { width:748px; height:37px; float:left }


/* 검색 */
.list_top .b_srchBox { width:385px }
.list_top .b_srchBox .b_select { width:125px }
.list_top .b_srchBox .b_srch .b_srch_txt { width:190px }


/* 일반리스트 */
table.skin_list { width:748px }

.b_btn_apply { width:48px; height:26px; padding:2px 0 0 0; border:1px solid #3b88b7; background-color:#fff; color:#3b88b7; font-size:13px }
@media screen and (-webkit-min-device-pixel-ratio:0){ .b_btn_apply { height:28px; padding:0px 0 0 0 } }


/* 공통 write */
.b_txtbox1 { width:483px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox2 { width:601px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox3 { width:108px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb }
.b_txtbox4 { width:601px; min-height:200px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox5 { width:425px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox6 { width:404px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_select2 { float:left; width:115px; height:35px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb; margin-bottom:5px; margin-right:5px }
.m_b_check { margin-top:5px }


/* 일반write */
table.skin_write { width:748px; font-size:13px }


/* 일반view */
table.skin_view { width:748px }
table.skin_view td.map { padding:5px }
table.skin_view td.map img { width:100%; height:100%; max-height:200px }


/* b_ContBox */
.b_ContBox .imgBox { width:345px }
.b_ContBox .imgBox img { width:345px; height:355px }
/* 일반view2 */
.basic_viewWrap2 { width:375px }
table.skin_view2 { font-size:13px }
table.skin_view2 th { padding:13px 0 13px 0 }
table.skin_view2 td { padding:13px 0 13px 10px }
	
}









@media only screen and (max-width: 768px){

/* 탭메뉴 */
.tabBox { width:100%; float:left; margin-bottom:30px }
.tabBox ul { width:100%; height:44px; display:block; font-size:12px; font-weight:400; text-align:center; vertical-align:middle; letter-spacing:-0.05em }
.tabBox ul li { width:18%; height:29px; float:left; padding-top:13px; border:1px solid #e1e1e1; margin-right:3px }
.tabBox ul li a { color:#9b9b9b }
.tabBox ul li.on { width:18%; border:1px solid #00baff; background:url(/img/board/bg_tab_ovr.png) left top no-repeat }
.tabBox ul li.on a { color:#00baff }
.tabBox ul li.end { margin-right:0 }

/* b_btn_area */
.b_btn_area { width:100%; height:31px; margin:0 auto; margin-top:17px }
.b_btn_area .btn_rgt { width:60px; height:28px; margin-left:5px }
.b_btn_area .btn_rgt2 { width:60px; height:28px; margin-left:5px }
.b_btn_area .btn_lft { width:60px; height:28px; margin-left:5px }
.b_btn_area .btn_lft2 { width:60px; height:28px; margin-left:5px }


/* list_top */
.list_top { width:100%; margin-bottom:20px }
.list_top .board_count { display:none }
.list_top .b_btn_listBox .b_btn_block { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-bottom:10px }
.list_top .b_btn_listBox .b_btn_blog { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:10px }
.list_top .b_btn_listBox .b_btn_list { clear:both; float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:0px }
.list_top .b_btn_listBox .b_btn_calendar { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:10px }

/* 검색 */
.list_top .b_srchBox { float:left; width:220px }
.list_top .b_srchBox .b_select {width:90px; height:28px; font-size:11px }
.list_top .b_srchBox .b_srch { width:110px; height:26px }
.list_top .b_srchBox .b_srch .b_srch_txt { width:70px; height:17px }
.list_top .b_srchBox .b_srch .b_go_btn { width:17px; height:15px; margin:6px 7px 0 0px }
.list_top .b_srchBox_gap { display:none }
.list_top .b_btn_listBox { margin:2px 0 0 10px }


/* 일반 list */
.basic_listWrap { width:100%; margin:0 auto; margin-top:15px }
table.skin_list { width:100%; font-size:12px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_list th { text-align:center; font-weight:600; color:#646464; padding:10px 0 10px 0; border-right:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_list th.r_line_none { border-right:none }
table.skin_list td { text-align:center; font-weight:400; color:#646464; padding:10px 0 10px 0; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1 }
table.skin_list td.b_notice { width:70%; text-align:left; padding-left:20px; color:#1e1e1e }
table.skin_list td.r_line_none { border-right:none }
table.skin_list th.number, 
table.skin_list th.lookup,
table.skin_list th.file,
table.skin_list td.number, 
table.skin_list td.lookup,
table.skin_list td.file { display:none }
table.skin_list th.r_line_none2,
table.skin_list td.r_line_none2 { padding-left:5px; border-right:none }


/* 일반write */
.basic_writeWrap { width:100%; float:left; margin-top:13px }
table.skin_write { width:100%; font-size:12px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write th { width:30%; text-align:center; font-weight:600; color:#646464; padding:10px 0 10px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write td { text-align:left; font-weight:400; color:#646464; padding:10px 0 10px 10px; border-bottom:1px solid #e1e1e1 }
table.skin_write td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write td.r_line_none { border-right:none }


/* 공통 write */
.b_check { margin-right:7px }
.b_label { margin-right:15px }
.b_txtbox1 { width:160px; height:26px; font-size:13px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox2 { width:245px; height:28px; font-size:13px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox3 { width:37px; height:28px; font-size:13px; padding-left:10px; border:1px solid #dbdbdb }
.b_txtbox4 { width:245px; min-height:200px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_txtbox5 { width:425px; height:26px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.b_btn_01 { height:28px; border:none; background-color:#ededed; padding:0 10px 0 10px; color:#646464; font-family:'NanumGothic', 'Malgun Gothic', dotum }
.b_btn_02 { height:28px; border:none; background-color:#e1e1e1; padding:0 10px 0 10px; color:#797979; font-family:'NanumGothic', 'Malgun Gothic', dotum }
.b_btn_03 { width:37px; height:28px; border:none; background:none; padding:0; vertical-align:middle }
.b_btn_03 img { width:28px; height:28px }
.b_select2 { float:left; width:82px; height:24px; font-size:11px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb; margin-bottom:5px; margin-right:5px }
.m_b_check { margin-top:5px }
.b_w245 { width:245px !important }
.b_mat5 { margin-top:5px !important }
.b_w100 { width:100px !important }


/* 일반 view */
table.skin_view { width:100%; font-size:12px }
table.skin_view th { padding:10px 0 10px 0 }
table.skin_view th.width30 { width:30% }
table.skin_view td { padding:10px 0 10px 10px }
table.skin_view td.view_cont { padding:30px 0px 30px 10px; line-height:20px }
table.skin_view td.manager { display:none }
table.skin_view td.m_r_none { border-right:none }

.view_file { font-size:12px }


/* b_ContBox */
.b_ContBox { width:100%; float:left; margin-bottom:30px }
.b_ContBox .imgBox { clear:both; width:300px; margin:0 auto; padding:5px; margin-bottom:25px; border:1px solid #e1e1e1 }
.b_ContBox .imgBox img { width:300px; height:310px }
/* 일반view2 */
.basic_viewWrap2 { width:100% }
table.skin_view2 { width:100%; font-size:12px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_view2 th { text-align:center; font-weight:600; color:#646464; padding:10px 0 10px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_view2 th.lft_line { border-left:1px solid #e1e1e1 }
table.skin_view2 td { text-align:left; font-weight:400; color:#646464; padding:10px 0 10px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
table.skin_view2 td.r_line_none { border-right:none }


/* 페이지 */
.pagination { width:100%; text-align:center; margin:0 auto; margin-top:20px }
.pagination ul{ width:300px; margin:0 auto; display:inline-block }
.pagination ul li{ margin:0 2px; padding:0; float:left; background:none; width:26px; height:22px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:400 }
.pagination ul li a{ color:#646464; display:block; padding:4px 0 0 0; height:22px }
.pagination ul li:hover{ width:26px; height:22px; border:0 }
.pagination ul li:hover a{ color:#646464; display:block ;padding:4px 0 0 0; height:22px }
.pagination ul li.active{ width:26px; height:22px; border:0 }
.pagination ul li.active a{ color:#3b88b7; font-weight:400; display:block; padding:4px 0 0 0; height:22px }
.pagination ul li.first_page{ font-size:10px; border:0px; width:26px; height:22px; background:url(/img/board/p_first_m.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.first_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.first_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.prev_page{ font-size:10px; border:0px; width:26px; height:22px; margin-right:8px; background:url(/img/board/p_prev_m.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.prev_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.prev_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.next_page{ font-size:10px; border:0px; width:26px; height:22px; margin-left:8px; background:url(/img/board/p_next_m.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.next_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.next_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.last_page{ font-size:10px; border:0px; width:26px; height:22px; background:url(/img/board/p_last_m.gif) left top no-repeat; text-indent:-9999px }
.pagination ul li.last_page a{ line-height:50%; overflow:hidden; display:block; padding:3px 0 0 0; height:22px }
.pagination ul li.last_page:hover a{ color:#646464; display:block; padding:3px 0 0 0; height:22px }

}
























/* list_top */
.Patent_search { width:930px; height:49px; margin-bottom:30px; padding-top:11px; background-color:#deebef }


/* 검색 */
.Patent_search .p_srchBox { width:572px; height:38px; margin:0 auto }
.Patent_search .p_srchBox .p_srch { float:left; width:453px; height:36px; border:1px solid #cadde3; margin-left:5px; background-color:#fff }
.Patent_search .p_srchBox .p_srch .p_srch_txt { float:left; width:397px; height:27px; border:none; padding-left:7px; margin:5px 0 0 5px }
.Patent_search .p_srchBox .p_srch .p_go_btn { float:right; width:22px; height:20px; margin:8px 15px 0 0px }

.nctg{ position:relative; z-index:4; width:112px; float:left; background-color:#fff }
.btn_nctg{ display:block; overflow:hidden; width:101px; height:33px; padding:5px 0 0 10px; border:1px solid #cadde3; background:url(/img/common/select_arw.png) 95px center no-repeat; line-height:27px;
           font-size:13px; color:#4a4a4a }
a.btn_nctg:hover,a.btn_nctg:visited{ text-decoration:none }
.nctg_on .btn_nctg{ background:url(/img/common/select_arw2.png) 95px center no-repeat; }
.cpress_lst{ position:absolute; top:40px; width:111px; padding:5px 0 4px; border:1px solid #cadde3; border-top:0; background-color:#fff }
.cpress_lst li{ width:101px; line-height:20px }
.cpress_lst li a{ display:block; width:101px; padding-left:10px; font-size:13px; color:#888; letter-spacing:-1px }
.cpress_lst li a:hover{ color:#888 }
.cpress_lst li a:visited{ color:#888 }
.cpress_lst li.on a,.cpress_lst li.on a:hover,.cpress_lst li.on a:visited{ color:#000 }
.cpress_lst li.bad a{ color:#ccc; text-decoration:none; cursor:default }



.Patent_srchWrap { width:100% }
.Patent_srchWrap .tit_p_srch { width:312px; height:75px; margin:0 auto; margin-bottom:20px }
.Patent_srchWrap .txt_p_info { width:379px; height:110px; margin:0 auto; margin-top:50px }


.Patent_listWrap { width:100%; float:left }
.Patent_listWrap .result_none { width:749px; height:208px }
.Patent_listWrap .PatentBox { width:930px; float:left; margin-bottom:45px }
.Patent_listWrap .PatentBox .tit_patent01 { font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#125ab3; float:left }
.Patent_listWrap .PatentBox .patent_count { font-size:14px; font-weight:400; letter-spacing:-0.03em; color:#1e1e1e; float:left; margin:2px 0 0 12px }
.Patent_listWrap .PatentBox ul.patent_list { width:100%; float:left; margin:15px 0 0 0; padding:0 0 10px 0; border-bottom:1px solid #a9a9a9 }
.Patent_listWrap .PatentBox ul.patent_list li { min-height:140px; margin-top:15px; padding:0 0 15px 0; border-bottom:1px solid #ebebeb;clear:both;display:inline-block }
.Patent_listWrap .PatentBox ul.patent_list li .shape { width:60px; height:21px; float:left; margin:0 10px 0 0; }
.Patent_listWrap .PatentBox ul.patent_list li h3 { width:855px; height:21px; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#00516e; float:left }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info { width:930px; float:left; margin:15px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .patent_img { width:119px; height:96px; float:left; margin-right:16px; border:4px solid #f1f1f1 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .patent_img img { width:119px !important; height:96px !important }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl { width:247px; height:90px; float:left; margin:5px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl dt { clear:both; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; color:#8c8c8c; margin:0 0 5px 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl dd { float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; color:#464646; margin:0 0 5px 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .btn_open { width:56px; height:20px; float:right; background:none; border:none; padding:0; margin:0; margin-top:84px; }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .info_text { width:930px; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:15px 0 0 0;
                                                                        padding:13px 0 0 0; border-top:1px solid #ebebeb;display:inline-block;clear:both }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .info_text .btn_off { width:56px; height:20px; float:right; background:none; border:none; padding:0; margin:0; margin-top:15px }
.Patent_listWrap .PatentBox ul.patent_list .more { width:100%; text-align:center; float:left; font-size:14px; font-weight:600; letter-spacing:-0.03em; margin:10px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list .more a { color:#0081af }



.Patent_viewWrap { width:100%; float:left; border-top:1px solid #34a5cd }
.P_contBox { width:100%; height:166px; margin-top:15px; border-bottom:1px solid #c8c8c8 }
.P_contBox .p_img_view { width:187px; height:143px; float:left; border:4px solid #f1f1f1 }
.P_contBox .tit_patent02 { float:left; font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#125ab3; margin:5px 0 0 16px }
.P_contBox .tit_patent03 { float:left; font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#464646; margin:5px 0 0 10px }
.P_contBox .info_text02 { width:560px; height:60px; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:17px 0 0 16px }
.P_contBox .btn_apply { width:98px; height:50px; float:right; font-size:13px; font-weight:600; letter-spacing:-0.03em; color:#464646; border:1px solid #646464; background:none; padding:0; margin:0; 
                        margin-top:27px }
.P_contBox .scoreBox { height:13px; float:left; margin:28px 0 0 16px }
.P_contBox .scoreBox .check_score { width:13px; height:13px; float:left; background:none; padding:0; margin:0; margin-right:6px }
.P_contBox .scoreBox .star_score { height:13px; float:left; margin-right:20px }	
.P_contBox .scoreBox .btn_rating { float:left; font-size:14px; font-weight:600; letter-spacing:-0.05em; margin:-1px 0 0 15px }
.P_contBox .scoreBox .btn_rating a { color:#000 }


.P_contBox2 { width:100%; float:left; font-size:14px; letter-spacing:-0.03em; border-collapse:collapse; margin:30px 0 0 0 }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
.P_contBox2 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
.P_contBox2 th.title { font-size:15px; font-weight:600; letter-spacing:-0.075em; color:#305869; padding:10px 0 10px 0; border:none; background-color:#eff5f7 }
.P_contBox2 th.lft_line { border-left:1px solid #e1e1e1 }
.P_contBox2 th.row2 { font-size:13px; line-height:20px; padding:2px 0 2px 10px }
.P_contBox2 td { text-align:left; font-weight:400; color:#646464; padding:16px 0 16px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
.P_contBox2 td .shape2 { width:60px; height:21px }
.P_contBox2 td.row2 { font-size:13px; line-height:20px; padding:2px 0 2px 10px }
.P_contBox2 td.jip_info { height:127px; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; padding-right:13px; vertical-align:text-top }
.P_contBox2 td.jip_info2 { height:auto; padding:16px 0 16px 10px; vertical-align:text-top }
.P_contBox2 td .jip_data { background:url(/img/board/ico_file.png) left center no-repeat; padding-left:20px; border:none; font-size:14px; letter-spacing:-0.03em; color:#646464 }
.P_contBox2 td .ideaBox { width:910px; }
.P_contBox2 td .ideaBox .input_idea { width:820px; height:30px; float:left; border:1px solid #dcdcdc; background-color:#fff;padding:0 0 0 10px }
.P_contBox2 td .ideaBox .btn_write { float:left;width:70px; height:32px; background-color:#3b5c8a; border:none; padding:0; margin:0 0 0 5px; font-size:14px; font-weight:400; letter-spacing:-0.05em; color:#fff }
.P_contBox2 td .ideaBox .idea_none { float:left;font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:10px 0 0 0; padding-right:13px; vertical-align:text-top }
.P_contBox2 td .ideaBox ul.idea_list {float:left } 
.P_contBox2 td .ideaBox ul.idea_list li { width:910px; height:41px; padding:16px 0 17px 0; border-bottom:1px solid #ebebeb }
.P_contBox2 td .ideaBox ul.idea_list li .idea_name { font-size:13px; font-weight:600; letter-spacing:-0.03em; color:#1e1e1e; float:left; margin:0 0 0 15px }
.P_contBox2 td .ideaBox ul.idea_list li .idea_date { font-size:12px; color:#787878; float:left; margin:0 0 0 15px }
.P_contBox2 td .ideaBox ul.idea_list li .idea_txt { clear:both; font-size:13px; letter-spacing:-0.03em; color:#464646; float:left; margin:10px 0 0 15px  }
.P_contBox2 td.represent_img { text-align:center }
.P_contBox2 td.represent_img img { max-width:200px; max-height:184px }
.P_contBox2 td.r_line_none { border-right:none }

.P_contBox2 .scoreBox {width:465px; height:13px; margin:0 auto; margin-bottom:16px }
.P_contBox2 .scoreBox .check_score { width:13px; height:13px; float:left; background:none; padding:0; margin:0; margin-right:6px }
.P_contBox2 .scoreBox .star_score { height:13px; float:left; margin-right:15px }	
.P_contBox2 .scoreBox .btn_rating { float:left; font-size:14px; font-weight:600; letter-spacing:-0.05em; margin:-2px 0 0 0  }
.P_contBox2 .scoreBox .btn_rating a { color:#000 }