@charset "utf-8";

/**/

@media (max-width: 1198px){


.Wrap { width:100%; min-width:768px; overflow:hidden; font-family:'NanumGothic', 'Malgun Gothic', dotum }

/* 헤더 */
.Headerinner { width:768px; position:relative; margin:0 auto }

/* 탑 메뉴 */
.top_menu { width:300px; height:13px; margin-top:45px; margin-left:0px; float:left }
.top_menu ul { width:100%; display:inline-block }
.top_menu ul li { font-size:0.76em; font-weight:600; height:17px; line-height:15px; padding:7px 4px 0 7px; background:url(/img/jipbank/common/top_menu_gap.gif) left 10px no-repeat; float:left }
.top_menu ul li.first { background:none }
.top_menu ul li a { color:#787878 }
.top_menu ul li.first a { color:#0c4da2 }

/* 로고 */
.logo { width:155px; height:50px; z-index:10000; margin:25px 0 0 10px; float:left }
.logo a img{width:148px;padding-top:10px}
/* 모바일메뉴 */

/* 검색 */
.search { width:225px; height:34px; margin:40px 0px 0 0; border:1px solid #e5e5e5; float:right }
.select { border:none; width:80px; height:18px; font-size:12px; font-weight:600; color:#555; margin:8px 0 0 5px; border-right:1px solid #d9d9d9; font-family:'NanumGothic', 'Malgun Gothic', dotum; float:left }
.srch_txt { margin:7px 0 0 7px; width:110px; height:20px; font-family:'NanumGothic', 'Malgun Gothic', dotum; border:none; font-size:12px }
.search .go_btn { width:14px; height:16px; margin:9px 5px 0 0; float:right }

/* 상단메뉴 */
.gnbBox { width:768px; float:left }
.gnbBox h2{ float:left; display:block; font-size:15px; font-weight:600; margin:47px 15px 0 15px; height:33px }
.gnbBox h2 a { color:#fff }
.gnbBox h2.on a{ color:#fff }
.gnbBox .gnb_sub{ position:absolute; top:156px; left:0; width:100%; height:40px; z-index:10; overflow:hidden; background-color:#fff }
.gnbBox .gnb_sub li { float:left; font-size:13px; font-weight:400; padding:10px 30px 0 0px }
.gnbBox .gnb_sub li a { color:#323232 }

/* 서브메뉴 위치 */
.g1{ padding-left:19px }
.g2{ padding-left:0px }
.g3{ padding-left:0px }
.g4{ padding-left:0px }
.g5{ padding-left:0px }
.g6{ padding-left:0px }
.g7{ padding-left:0px }
#m_submenu_0{ padding-left:18px;width:763px }
#m_submenu_1{ padding-left:144px;width:637px }
#m_submenu_2{ padding-left:140px;width:641px }
#m_submenu_3{ padding-left:283px;width:498px }
#m_submenu_4{ padding-left:449px;width:332px }
#m_submenu_5{ padding-left:234px;width:547px }
#m_submenu_6{ padding-left:432px;width:349px }
/* CSS Document */

/* 메인 비주얼 */
.MainVIsualWrap { width:100%; height:437px; background:url(/img/jipbank/main3/tb_Visual01.jpg) center top no-repeat }
.MainVIsualWrap .MainVisualBox { width:768px; margin:0 auto }
.MainVIsualWrap .MainVisualBox .VisualTxtBox { position:absolute; width:361px; height:87px; float:left; margin:65px 0 0 46px }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt01 { float:right }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt02 { float:right; margin:9px 0 0 0 }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt03 { float:right; margin:8px 0 15px 0 }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt01 img { width:281px }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt02 img { width:361px }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VTxt03 img { width:360px }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VisualSrchBox { width:290px; height:37px; float:right; margin:0px 0 0 0px; clear:both }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VisualSrchBox .SrchForm { width:214px; height:33px; float:left; border:2px solid #0081af; background-color:#fff; padding:0 0 0 12px; margin:0 0 0 0px;
                                                                        font-size:13px; letter-spacing:-0.05em; color:#323232 }
.MainVIsualWrap .MainVisualBox .VisualTxtBox .VisualSrchBox .Btn_VSrch { width:55px; height:37px; float:left; text-indent:-9999px; background:url(/img/jipbank/main3/tb_Btn_VSrch.gif) no-repeat;
                                                                         padding:0; margin:0 0 0 5px; border:none }

/* 퀵링크/등록기술 */
.QuickLink { width:292px; height:437px; float:right; background:url(/img/jipbank/main3/tb_bg_QuickLink.png) no-repeat }
.QuickLink .QuickBox { width:258px; height:264px; margin:0 auto }
.QuickLink .QuickBox li { width:85px; height:56px; float:left; text-align:center; vertical-align:middle; padding:24px 0 0 0 }
.QuickLink .StatusBox { width:250px; height:172px; border-top:1px solid #8096a0; margin:0 auto }
.QuickLink .StatusBox .StatusTit { width:55px; height:17px; float:left; margin:20px 0 0 0 }
.QuickLink .StatusBox .StatusTit img { width:55px; height:17px }
.QuickLink .StatusBox .StatusTotal { float:right; text-align:right; font-size:14px; font-weight:600; letter-spacing:-0.05em; color:#ffff93; margin:21px 0 0 0 }
.QuickLink .StatusBox .CategoryBox { width:280px; height:100px; float:left; margin:18px 0 0 0; background:url(/img/jipbank/main3/gap_status.gif) 126px 26px no-repeat }
.QuickLink .StatusBox .CategoryBox dl.Category01 { width:125px; float:left; font-size:11px; letter-spacing:-0.05em; line-height:25px }
.QuickLink .StatusBox .CategoryBox dl.Category01 dt { width:55px; float:left; color:#fff }
.QuickLink .StatusBox .CategoryBox dl.Category01 dd { width:50px; float:right; text-align:right; color:#ffffae; margin:0 10px 0 0 }
.QuickLink .StatusBox .CategoryBox dl.Category02 { width:125px; float:left; font-size:11px; letter-spacing:-0.05em; line-height:25px }
.QuickLink .StatusBox .CategoryBox dl.Category02 dt { width:55px; float:left; color:#fff; margin:0 0 0 10px }
.QuickLink .StatusBox .CategoryBox dl.Category02 dd { width:50px; float:right; text-align:right; color:#ffffae }

/* 탭메뉴 */
.MainTabWrap { width:100%; height:109px; margin:0 auto; margin-top:-41px }
.MainTabWrap .TabMenuWrap { width:768px; height:41px; margin:0 auto }
.MainTabWrap .TabMenuWrap ul { width:465px; height:41px; float:left; font-size:13px; font-weight:400 }
.MainTabWrap .TabMenuWrap ul li { height:28px; float:left; text-align:center; background-color:#00698f; padding:13px 0 0 0 }
.MainTabWrap .TabMenuWrap ul li a { width:42px; height:41px; padding:13px 22px 15px 22px; color:#96c5d6 }
.MainTabWrap .TabMenuWrap ul li.tab01 a.on{ width:100px; color:#fff; background:url(/img/jipbank/main3/bg_MainTab1_ovr.gif) no-repeat }
.MainTabWrap .TabMenuWrap ul li.tab02 a.on{ width:100px; color:#fff; background:url(/img/jipbank/main3/bg_MainTab2_ovr.gif) no-repeat }
.MainTabWrap .TabMenuWrap ul li.tab03 a.on{ width:100px; color:#fff; background:url(/img/jipbank/main3/bg_MainTab3_ovr.gif) no-repeat }
.MainTabWrap .TabMenuWrap ul li.tab04 a.on{ width:100px; color:#fff; background:url(/img/jipbank/main3/bg_MainTab4_ovr.gif) no-repeat }

.MainTabWrap .TabBtnWrap { width:100%; height:82px }
.MainTabWrap .TabBtnWrap .TabBox01 { width:100%; height:68px; background:url(/img/jipbank/main3/bg_MainTab01.gif) center top no-repeat }
.MainTabWrap .TabBtnWrap .TabBox01 .TabBox01_gap { width:2px; height:29px; float:left; margin:22px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox01 .TabBox01_gap img { width:2px; height:29px; }
.MainTabWrap .TabBtnWrap .TabBox01 ul { width:768px; height:68px; margin:0 auto }
.MainTabWrap .TabBtnWrap .TabBox01 ul li { width:116px; height:50px; float:left; padding:18px 0 0 10px; background:url(/img/jipbank/main3/tb_MainTab1_menu_bg.png) 86px 12px no-repeat }
.MainTabWrap .TabBtnWrap .TabBox01 ul li .TabTit01 { font-size:12px; font-weight:600; color:#53c9db }
.MainTabWrap .TabBtnWrap .TabBox01 ul li .TabTit02 { font-size:16px; letter-spacing:-0.05em; color:#fff; margin:3px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox01 ul li .TabTit03 { font-size:13px; letter-spacing:-0.05em; color:#fff; margin:3px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox01 ul li a { color:#fff }
.MainTabWrap .TabBtnWrap .TabBox01 ul li.side { width:107px }

.MainTabWrap .TabBtnWrap .TabBox02 { width:100%; height:68px; background:url(/img/jipbank/main3/bg_MainTab02.gif) center top no-repeat }
.MainTabWrap .TabBtnWrap .TabBox02 .TabBox02_gap { width:2px; height:29px; float:left; margin:22px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox02 .TabBox02_gap img { width:2px; height:29px; }
.MainTabWrap .TabBtnWrap .TabBox02 ul { width:768px; height:68px; margin:0 auto }
.MainTabWrap .TabBtnWrap .TabBox02 ul li { width:94px; height:56px; float:left; padding:12px 0 0 0; text-align:center }
.MainTabWrap .TabBtnWrap .TabBox02 ul li .Tab02_icon { height:28px; margin:0 auto }
.MainTabWrap .TabBtnWrap .TabBox02 ul li .Tab02_icon img { height:28px }
.MainTabWrap .TabBtnWrap .TabBox02 ul li .Tab02Tit { clear:both; font-size:13px; font-weight:600; letter-spacing:-0.05em; margin:6px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox02 ul li .Tab02Tit a { color:#fff }
.MainTabWrap .TabBtnWrap .TabBox02 ul li.side { width:95px }

.MainTabWrap .TabBtnWrap .TabBox03 { width:100%; height:68px; background:url(/img/jipbank/main3/bg_MainTab03.gif) center top no-repeat }
.MainTabWrap .TabBtnWrap .TabBox03 .TabBox03_gap { width:2px; height:29px; float:left; margin:22px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox03 .TabBox03_gap img { width:2px; height:29px }
.MainTabWrap .TabBtnWrap .TabBox03 ul { width:768px; height:68px; margin:0 auto }
.MainTabWrap .TabBtnWrap .TabBox03 ul .btn_arw { width:12px; height:24px; float:left; margin:22px 0 0 0; padding:0; border:none; background:none }
.MainTabWrap .TabBtnWrap .TabBox03 ul .btn_arw img { width:12px; height:24px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li { width:247px; height:68px; float:left; font-size:11px; letter-spacing:-0.1em }
.MainTabWrap .TabBtnWrap .TabBox03 ul li a { color:#fff }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .img_map { width:36px; height:40px; float:left; vertical-align:middle; margin:14px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .img_map img { width:36px; height:40px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .agency01 { width:95px; float:left; text-align:center; margin:17px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .agency02 { width:95px; float:left; text-align:center; margin:17px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .agency03 { width:95px; float:left; text-align:center; margin:10px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li .agency04 { width:95px; float:left; text-align:center; margin:10px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center { width:244px; height:68px; float:left; font-size:11px; letter-spacing:-0.1em }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .img_map { width:36px; height:40px; float:left; vertical-align:middle; margin:14px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .img_map img { width:36px; height:40px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .agency01 { width:95px; float:left; text-align:center; margin:17px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .agency02 { width:95px; float:left; text-align:center; margin:17px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .agency03 { width:95px; float:left; text-align:center; margin:10px 0 0 5px }
.MainTabWrap .TabBtnWrap .TabBox03 ul li.center .agency04 { width:95px; float:left; text-align:center; margin:10px 0 0 5px }

.MainTabWrap .TabBtnWrap .TabBox04 { width:100%; height:68px; background:url(/img/jipbank/main3/bg_MainTab04.gif) center top no-repeat }
.MainTabWrap .TabBtnWrap .TabBox04 ul { width:768px; height:68px; margin:0 auto }
.MainTabWrap .TabBtnWrap .TabBox04 ul li { width:69px; height:19px; float:left; font-size:14px; letter-spacing:-0.05em; text-align:center; padding:11px 0 0 0 }
.MainTabWrap .TabBtnWrap .TabBox04 ul li.first { width:70px }
.MainTabWrap .TabBtnWrap .TabBox04 ul li a { color:#fff }



.ContBox01 { width:768px; height:284px; margin:0 auto; margin-top:20px; }
/* 공지사항/지원사업 */
.ContBox01 .NoticeWrap { width:417px; height:282px; float:left; border:1px solid #ebebeb; padding:0 20px 0 20px }
.ContBox01 .NoticeWrap ul.NoticeMenuBox { width:422px; height:34px; border-bottom:1px solid #dcdcdc; margin:15px 0 0 0 }
.ContBox01 .NoticeWrap ul.NoticeMenuBox .Notice_gap { width:1px; height:14px; float:left; margin:4px 15px 0 15px }
.ContBox01 .NoticeWrap ul.NoticeMenuBox li { width:59px; float:left; font-size:16px; letter-spacing:-0.05em; }
.ContBox01 .NoticeWrap ul.NoticeMenuBox li a { color:#323232 }
.ContBox01 .NoticeWrap ul.NoticeMenuBox li.on { padding-bottom:14px; border-bottom:3px solid #0081af }
.ContBox01 .NoticeWrap ul.NoticeMenuBox li.on a { color:#0081af }
.ContBox01 .NoticeWrap ul.NoticeMenuBox .btn_more { width:20px; height:20px; float:right }
.ContBox01 .NoticeWrap .NoticeListBox { width:422px; height:232px; font-size:13px; margin:20px 0 0 0 }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox01 { width:180px; height:232px; float:left }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox01 li { font-size:13px; letter-spacing:-0.03em; line-height:28px; padding:0 0 0 12px; background:url(/img/jipbank/main3/icon_notice_li.gif) left 14px no-repeat }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox01 li a { color:#666 }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox02 { width:161px; height:232px; float:left }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox02 li { font-size:13px; letter-spacing:-0.05em; color:#0081af; line-height:28px; text-align:right }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox03 { width:81px; height:232px; float:right }
.ContBox01 .NoticeWrap .NoticeListBox ul.ListBox03 li { font-size:13px; letter-spacing:-0.015em; color:#afafaf; line-height:28px; text-align:right }
/* POPUP ZONE */
.ContBox01 .popupzone {position:relative;float:right; width:290px; height:284px}
.ContBox01 .popupzone h3.Titpopupzone {font-size:22px;font-weight:normal;height:43px;background:url(/img/jipbank/main3/bg_popupzone.gif) left top no-repeat; padding:22px 0 0 0;color:#444}
.ContBox01 .popupzone ul.PopupList li a img{ width:288px; height:217px; border:1px solid #ebebeb }


.ContBox02 { width:100%; height:487px; float:left; margin:0 auto; margin-top:20px; background:url(/img/jipbank/main3/tb_bg_ContBox02.gif) left top repeat-x }
/* 포토뉴스/기술사업화 제품/우수사례 */
.ContBox02 .ImgListWrap01 { width:768px; height:177px; margin:0 auto; padding:20px 0 0 0 }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox { width:768px; height:33px; border-bottom:1px solid #b4b4b4 }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox .ImgList_gap { width:1px; float:left; height:15px; margin:4px 12px 0 12px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li { height:20px; float:left; font-size:16px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li a { color:#878787 }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li.tab01 { width:62px; background:url(/img/jipbank/main3/tb_icon_imglist1_ovr.png) left 0px no-repeat; padding-left:37px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li.tab02 { width:64px; background:url(/img/jipbank/main3/tb_icon_imglist2_ovr.png) left 0px no-repeat; padding-left:37px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li.tab03 { width:61px; background:url(/img/jipbank/main3/tb_icon_imglist3_ovr.png) left 0px no-repeat; padding-left:26px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li.on { padding-bottom:12px; border-bottom:2px solid #0081af }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox li.on a { color:#323232 }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox ul.ListSortBox { width:157px; float:left; margin-left:377px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox ul.ListSortBox li { font-size:13px; float:left; padding-top:2px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox ul.ListSortBox li a { color:#646464 }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox ul.ListSortBox li.newest { background:url(/img/jipbank/main3/tb_icon_newest.png) 0px 3px no-repeat; padding-left:20px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox ul.ListSortBox li.lookup { background:url(/img/jipbank/main3/tb_icon_lookup.png) 0px 3px no-repeat; padding-left:20px }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox .btn_more { width:20px; height:20px; float:right }
.ContBox02 .ImgListWrap01 ul.ImgListMenuBox .btn_more img { width:20px; height:20px }
/* 이미지 리스트 */
.ContBox02 .ImgListWrap01 ul.ImgListBox { width:768px; margin:0 auto; margin-top:20px; height:102px }
.ContBox02 .ImgListWrap01 ul.ImgListBox li { height:102px; float:left; padding:0 6px 0 6px }
.ContBox02 .ImgListWrap01 ul.ImgListBox li img { width:141px; height:102px }
.ContBox02 .ImgListWrap01 ul.ImgListBox li em { background-color:rgba(44,114,199,0.8); position:relative; top:-27px; float:left; padding:7px 0 7px 7px; font-style:normal; width:134px; text-align:left }
.ContBox02 .ImgListWrap01 ul.ImgListBox li em a { color:#fff; font-weight:600; font-size:11px; padding-left:10px 0 }

/* PUBLICATION */
.ContBox02 .ImgListWrap02 { width:768px; height:290px; margin:0 auto; padding:20px 0 0 0 }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 { width:768px; height:33px; border-bottom:1px solid #b4b4b4 }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 .ImgList_gap { width:1px; float:left; height:15px; margin:4px 12px 0 12px }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 li.title { width:105px; height:23px; float:left; font-size:16px; background:url(/img/jipbank/main3/tb_icon_imglist4.png) left 0px no-repeat;
                                                         padding:0px 0px 9px 30px; border-bottom:2px solid #0081af }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 li a { color:#323232 }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 ul.ListSortBox { width:157px; float:left; margin-left:455px }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 ul.ListSortBox li { font-size:13px; float:left }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 ul.ListSortBox li a { color:#646464 }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 ul.ListSortBox li.newest { background:url(/img/jipbank/main3/tb_icon_newest.png) 0px 3px no-repeat; padding-left:20px }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 ul.ListSortBox li.lookup { background:url(/img/jipbank/main3/tb_icon_lookup.png) 0px 3px no-repeat; padding-left:20px }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 .btn_more { width:20px; height:20px; float:right }
.ContBox02 .ImgListWrap02 ul.ImgListMenuBox02 .btn_more img { width:20px; height:20px; float:right }
/* 이미지 리스트 */
.ContBox02 .ImgListWrap02 ul.ImgListBox02 { width:768px; margin:0 auto; margin-top:20px; height:196px }
.ContBox02 .ImgListWrap02 ul.ImgListBox02 li { height:196px; float:left; padding:0 6px 0 6px }
.ContBox02 .ImgListWrap02 ul.ImgListBox02 li img { width:141px; height:196px }
.ContBox02 .ImgListWrap02 ul.ImgListBox02 li em { background-color:rgba(44,114,199,0.8); position:relative; top:-27px; float:left; padding:7px 0 7px 7px; font-style:normal; width:134px; text-align:left }
.ContBox02 .ImgListWrap02 ul.ImgListBox02 li em a { color:#fff; font-weight:600; font-size:11px; padding-left:10px 0 }
/* 배너 */
.BannerWrap .Banner{width:768px}
.BannerWrap .Banner ul.BannerList{max-width:400px}
.BannerWrap .Banner ul.BannerControl{background-position:95px 0;margin-right:6px;width:101px}
.BannerWrap .Banner .JeonNam{width:147px;padding:18px 0 30px 20px;float:right;}
.BannerWrap .Banner .JeonNam .JeonNamCi{width:142px}
.BannerWrap .Banner .JeonNam .JeonNamCi img.JeonNamImg{width:100%}
/* 서브 */
.SubWrap { width:100%; min-height:116px; background:url(/img/jipbank/sub/bg_sub_visual.gif) center bottom no-repeat }
.SubBox { width:748px; margin:0 auto; padding:0 0px 0 0px;background:url(/img/jipbank/sub/bg_sub_visual02.png) right bottom no-repeat; background-size:59%;height:123px}
.TxtSubBox img{padding:22px 0 0 0;width:325px}
/* 레프트메뉴 */
#leftMenu { display:none }

/* 콘텐츠 */
.ContWrap { width:100%; float:left; margin:73px 0 0 0px }
.ContWrap .cont_top { width:100%; height:58px; border-bottom:1px solid #d6d6d6 }
.ContWrap .cont_top .cont_tit { font-size:32px; font-weight:600; letter-spacing:-0.05em; color:#282828; float:left }
.ContWrap .cont_top .navi { font-size:11px; font-weight:600; letter-spacing:-0.03em; color:#a6a6a6; float:right; margin-top:17px }

.Contents { width:100%; margin-top:50px }
.Contents img{width:auto}
/* Jipbank 소개 */
.cont_sample { min-height:650px; background:url(/img/jipbank/common/bg_sub2.jpg) right bottom no-repeat }
p.txt1 { font-size:24px; font-weight:600; letter-spacing:-0.05em; color:#225a61 }
p.txt2 { font-size:18px; font-weight:400; letter-spacing:-0.03em; color:#39767d; margin-top:7px }
p.txt3 { font-size:11px; font-weight:400; color:#b4b4b4; margin-top:10px }
p.txt4 { font-size:14px; font-weight:400; letter-spacing:-0.05em; color:5a5a5a; margin-top:30px; line-height:23px }

/* 푸터 */
.FooterWrap { clear:both; width:100%; min-width:768px; height:120px; overflow:hidden; border-top:3px solid #737373 }
.FooterBox { width:768px; margin:0 auto; padding:0 10px 0 10px; background:none }
.f_logo { width:216px; height:120px; float:left; margin:35px 25px 0 0 }
.f_logo img { width:186px; height:90px }
.f_menu { width:570px; float:left; height:15px; margin-top:20px; margin-bottom:10px; margin-left:0 }
.f_menu ul li { font-size:11px; font-weight:600; letter-spacing:-0.05em; float:left; padding:0 6px 0 6px }
.f_menu ul li.first{padding-left:0}
.f_menu ul li a { color:#000 }
.f_site { width:190px; margin-top:15px; float:right }
.f_site ul li { width:190px; float:left }
.f_site .select_site { width:120px; height:28px; border:1px solid #d9d9d9; font-family:'NanumGothic', 'Malgun Gothic', dotum; font-size:12px; font-weight:600; color:#444; padding:0 0 0 10px; float:left }
.f_site .select_site { padding:5px 3px 5px 10px\9 }
.f_site p.btn_area { float:left; margin-left:5px }
.f_site p.btn_area .btn_move { cursor: pointer; float:right; width:56px; height:28px; padding:0; margin:0 auto; margin-left:5pxs }
.f_info { width:500px; margin-left:0 }
.f_info .f_info1 { width:240px; float:left; font-size:11px; font-weight:600; letter-spacing:-0.05em; color:#4d4d4d; line-height:19px }
.f_info .f_info2 { width:259px; height:20px; float:left; font-size:12px; font-weight:600; color:#fff; margin-bottom:5px; background:url(/img/jipbank/common/bg_f_call.gif) 0px 0px no-repeat }
.f_info .f_info2 .f_tel { width:118px; height:17px; padding:3px 0 0 11px; float:left }
.f_info .f_info2 .f_fax { width:122px; height:17px; padding:3px 0 0 8px; float:left }
.f_info .f_info3 { width:600px; float:left; font-size:11px; font-weight:600; letter-spacing:-0.05em; color:#969696 }
.f_qr{display:none}






/* 게시판 160612 */
.list_top_1 .b_srchBox_1 .b_srch { float:left; width:368px; height:32px; border:1px solid #dbdbdb; margin-left:20px }
.list_top_1 .b_srchBox_1 .b_srch .b_srch_txt { float:left; width:357px; height:27px; border:none; padding-left:7px; margin:5px 0 0 5px }

/*JIPBANK소개*/
.Cont24  p.Cont24txt{width:374px;padding:36px 0 55px 39px}
.Cont24  ol li{width:270px}
.Cont24 li.cont24_07{padding-top:38px;height:48px}

/*이용방법 및 절차*/
.Contents .Cont28{background-size:748px;padding:21px 0 0px 69px;height:717px}
.Contents .Cont28 li{width:149px}
.Contents .Cont28 li.cont28_list01{padding-right:81px}
.Contents .Cont28 li.cont28_list02{padding-right:82px}
.Contents .Cont28 li.cont28_list03{padding-top:116px}
.Contents .Cont28 li.cont28_list04{padding-top:199px;padding-right:68px}
.Contents .Cont28 li.cont28_list05{padding-top:199px;padding-right:82px;}
.Contents .Cont28 li.cont28_list06{padding-top:210px;padding-right:82px;}
.Contents .Cont28 li.cont28_list07{padding-top:210px;padding-right:82px;}
.Contents .Cont28 li.cont28_list08{padding-top:210px;padding-right:82px;}
.Contents .Cont28 li p.cont28txt01{font-size:14px;letter-spacing:-1.5px}

/*찾아오시는길*/
.Contents .Cont84 dl.Cont84List02{background-position:25px 24px}




/* 탭메뉴 ver2 */
.tabBox2 { width:100% }
.tabBox2 ul { width:748px; height:44px; display:block; font-size:14px; font-weight:400; text-align:center; vertical-align:middle; letter-spacing:-0.05em }
.tabBox2 ul li { width:118px; height:29px; float:left; padding-top:13px; border:1px solid #e1e1e1; margin:0 3px 0px 2px  }
.tabBox2 ul li a { color:#9b9b9b }
.tabBox2 ul li.on { width:116px; border:1px solid #00baff; background:url(/img/board/bg_tab_ovr.png) left top no-repeat }
.tabBox2 ul li.on a { color:#00baff }
.tabBox2 ul li.end { margin-right:0 }




/* list_top */
.Patent_search { width:748px; height:240px; margin:30px 0 30px 0; background-color:#deebef }


/* 검색 */
.Patent_search .p_srchBox { width:708px; height:49px; margin:0 auto; padding-top:10px; border-bottom:1px solid #c6d7dd }
.Patent_search .p_srchBox .p_kinds { width:132px; height:22px; float:left; border-right:1px solid #a3bac1; font-size:18px; color:#4a5558; letter-spacing:-0.03em; text-align:center; margin:8px 52px 0 0 }
.Patent_search .p_srchBox .p_srch_txt { float:left; width:340px; height:36px; border:1px solid #cadde3; padding:0 0 0 10px; margin-left:10px; background-color:#fff }
.Patent_search .p_srchBox .p_srch_txt2 { float:left; width:480px; height:36px; border:1px solid #cadde3; padding:0 0 0 10px; background-color:#fff }
.Patent_search .p_srchBox .p_select { float:left; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #cadde3 }
.Patent_search .p_srchBox .p_select2 { float:left; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #cadde3; margin-left:10px }

.Patent_search .p_btnBox { width:708px; height:49px; margin:0 auto; border-bottom:none }
.Patent_search .p_btnBox .p_btn_rgt { width:90px; height:34px; float:right; background-color:#3c69ad; padding:2px 0 0 0; margin:2px 32px 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none }



.result_none { width:748px; height:208px; margin-top:50px; text-indent:-9999px; background:url(/img/board/result_none.png) no-repeat }


.nctg{ position:relative; z-index:4; width:112px; float:left; background-color:#fff }
.btn_nctg{ display:block; overflow:hidden; width:101px; height:33px; padding:5px 0 0 10px; border:1px solid #cadde3; background:url(/img/common/select_arw.png) 95px center no-repeat; line-height:27px;
           font-size:13px; color:#4a4a4a }
a.btn_nctg:hover,a.btn_nctg:visited{ text-decoration:none }
.nctg_on .btn_nctg{ background:url(/img/common/select_arw2.png) 95px center no-repeat; }
.cpress_lst{ position:absolute; top:40px; width:111px; padding:5px 0 4px; border:1px solid #cadde3; border-top:0; background-color:#fff }
.cpress_lst li{ width:101px; line-height:20px }
.cpress_lst li a{ display:block; width:101px; padding-left:10px; font-size:13px; color:#888; letter-spacing:-1px }
.cpress_lst li a:hover{ color:#888 }
.cpress_lst li a:visited{ color:#888 }
.cpress_lst li.on a,.cpress_lst li.on a:hover,.cpress_lst li.on a:visited{ color:#000 }
.cpress_lst li.bad a{ color:#ccc; text-decoration:none; cursor:default }



.Patent_srchWrap { width:100% }
.Patent_srchWrap .tit_p_srch { width:312px; height:75px; margin:0 auto; margin-bottom:20px }
.Patent_srchWrap .txt_p_info { width:379px; height:110px; margin:0 auto; margin-top:50px }


.Patent_listWrap { width:100%; float:left }
.Patent_listWrap .result_none { width:748px; height:208px }
.Patent_listWrap .PatentBox { width:748px; float:left; margin-bottom:45px }
.Patent_listWrap .PatentBox .tit_patent01 { font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#125ab3; float:left }
.Patent_listWrap .PatentBox .patent_count { font-size:14px; font-weight:400; letter-spacing:-0.03em; color:#1e1e1e; float:left; margin:2px 0 0 12px }
.Patent_listWrap .PatentBox ul.patent_list { width:100%; float:left; margin:15px 0 0 0; padding:0 0 10px 0; border-bottom:1px solid #a9a9a9 }
.Patent_listWrap .PatentBox ul.patent_list li { min-height:140px; margin-top:15px; padding:0 0 15px 0; border-bottom:1px solid #ebebeb;clear:both;display:inline-block }
.Patent_listWrap .PatentBox ul.patent_list li .shape { width:60px; height:21px; float:left; margin:0 10px 0 0; }
.Patent_listWrap .PatentBox ul.patent_list li h3 { width:678px; height:21px; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#00516e; float:left }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info { width:748px; float:left; margin:15px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .patent_img { width:119px; height:96px; float:left; margin-right:16px; border:4px solid #f1f1f1 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .patent_img img { width:119px !important; height:96px !important }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl  { width:247px; height:90px; float:left; margin:5px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl dt { clear:both; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; color:#8c8c8c; margin:0 0 5px 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info dl dd { float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; color:#464646; margin:0 0 5px 0 }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .btn_open { width:56px; height:20px; float:right; background:none; border:none; padding:0; margin:0; margin-top:84px; }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .info_text { width:748px; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:15px 0 0 0;
                                                                        padding:13px 0 0 0; border-top:1px solid #ebebeb;display:inline-block;clear:both }
.Patent_listWrap .PatentBox ul.patent_list li .patent_info .info_text .btn_off { width:56px; height:20px; float:right; background:none; border:none; padding:0; margin:0; margin-top:15px }
.Patent_listWrap .PatentBox ul.patent_list .more { width:100%; text-align:center; float:left; font-size:14px; font-weight:600; letter-spacing:-0.03em; margin:10px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_list .more a { color:#0081af }



/* 이미지 게시판 리스트 */
.Patent_listWrap .PatentBox ul.patent_imglist { width:100%; float:left; margin:15px 0 0 0; padding:0 0 10px 0; border-bottom:1px solid #a9a9a9 }
.Patent_listWrap .PatentBox ul.patent_imglist li { width:164px; height:185px; float:left; margin:10px 9px 20px 9px }
.Patent_listWrap .PatentBox ul.patent_imglist li .shape { width:60px; height:21px; float:left; margin:0 5px 0 0; }
.Patent_listWrap .PatentBox ul.patent_imglist li h3 { font-size:13px; font-weight:400; letter-spacing:-0.03em; color:#00516e; float:left; padding-top:3px }
.Patent_listWrap .PatentBox ul.patent_imglist li .patent_info { width:930px; float:left; margin:15px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_imglist li .patent_info .patent_img { width:160px; height:141px; float:left; margin-right:16px }
.Patent_listWrap .PatentBox ul.patent_imglist li .patent_info .patent_img img { width:156px !important; height:137px !important; border:4px solid #f1f1f1 }
.Patent_listWrap .PatentBox ul.patent_imglist .more { width:100%; text-align:center; float:left; font-size:14px; font-weight:600; letter-spacing:-0.03em; border-top:1px solid #ebebeb; padding:13px 0 0 0 }
.Patent_listWrap .PatentBox ul.patent_imglist .more a { color:#0081af }



.Patent_viewWrap { width:100%; float:left; border-top:1px solid #34a5cd }
.P_contBox { width:100%; height:166px; margin-top:15px; border-bottom:1px solid #c8c8c8 }
.P_contBox .p_img_view { width:187px; height:143px; float:left; border:4px solid #f1f1f1 }
.P_contBox .p_img_view .p_img { width:155px; height:50px; margin:47px 0 0 15px }
.P_contBox .tit_patent02 { float:left; font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#125ab3; margin:5px 0 0 16px }
.P_contBox .tit_patent03 { float:left; font-size:16px; font-weight:600; letter-spacing:-0.03em; color:#464646; margin:5px 0 0 10px; width:428px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis }
.P_contBox .info_text02 { width:410px; height:60px; float:left; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:17px 0 0 16px }
.P_contBox .btn_apply { width:98px; height:50px; float:right; font-size:13px; font-weight:600; letter-spacing:-0.03em; color:#464646; border:1px solid #646464; background:none; padding:0; margin:0;
                        margin-top:40px }
.P_contBox .scoreBox { height:13px; float:left; margin:28px 0 0 16px }
.P_contBox .scoreBox .check_score { width:13px; height:13px; float:left; background:none; padding:0; margin:0; margin-right:6px }
.P_contBox .scoreBox .star_score { height:13px; float:left; margin-right:20px }
.P_contBox .scoreBox .btn_rating { float:left; font-size:14px; font-weight:600; letter-spacing:-0.05em; margin:-1px 0 0 15px }
.P_contBox .scoreBox .btn_rating a { color:#000 }


.P_contBox2 { width:100%; float:left; font-size:14px; letter-spacing:-0.03em; border-collapse:collapse; margin:30px 0 0 0 }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
.P_contBox2 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
.P_contBox2 th.title { font-size:15px; font-weight:600; letter-spacing:-0.075em; color:#305869; padding:10px 0 10px 0; border:none; background-color:#eff5f7 }
.P_contBox2 th.lft_line { border-left:1px solid #e1e1e1 }
.P_contBox2 th.row2 { font-size:13px; line-height:20px; padding:2px 0 2px 10px }
.P_contBox2 td { text-align:left; font-weight:400; color:#646464; padding:16px 0 16px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
.P_contBox2 td .shape2 { width:60px; height:21px }
.P_contBox2 td.row2 { font-size:13px; line-height:20px; padding:2px 0 2px 10px }
.P_contBox2 td.jip_info { height:127px; font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; padding-right:13px; vertical-align:text-top }
.P_contBox2 td.jip_info2 { height:auto; padding:16px 0 16px 10px; vertical-align:text-top }
.P_contBox2 td .jip_data { background:url(/img/board/ico_file.png) left center no-repeat; padding-left:20px; border:none; font-size:14px; letter-spacing:-0.03em; color:#646464 }
.P_contBox2 td .ideaBox { width:748px; }
.P_contBox2 td .ideaBox .input_idea { width:651px; height:30px; float:left; border:1px solid #dcdcdc; background-color:#fff;padding:0 0 0 10px }
.P_contBox2 td .ideaBox .btn_write { float:left;width:70px; height:32px; background-color:#3b5c8a; border:none; padding:0; margin:0 0 0 5px; font-size:14px; font-weight:400; letter-spacing:-0.05em; color:#fff }
.P_contBox2 td .ideaBox .idea_none { float:left;font-size:12px; font-weight:400; letter-spacing:-0.03em; line-height:20px; color:#8c8c8c; margin:10px 0 0 0; padding-right:13px; vertical-align:text-top }
.P_contBox2 td .ideaBox ul.idea_list {float:left }
.P_contBox2 td .ideaBox ul.idea_list li { width:910px; height:41px; padding:16px 0 17px 0; border-bottom:1px solid #ebebeb }
.P_contBox2 td .ideaBox ul.idea_list li .idea_name { font-size:13px; font-weight:600; letter-spacing:-0.03em; color:#1e1e1e; float:left; margin:0 0 0 15px }
.P_contBox2 td .ideaBox ul.idea_list li .idea_date { font-size:12px; color:#787878; float:left; margin:0 0 0 15px }
.P_contBox2 td .ideaBox ul.idea_list li .idea_txt { clear:both; font-size:13px; letter-spacing:-0.03em; color:#464646; float:left; margin:10px 0 0 15px  }
.P_contBox2 td.represent_img { text-align:center }
.P_contBox2 td.represent_img img { max-width:200px; max-height:184px }
.P_contBox2 td.r_line_none { border-right:none }

.P_contBox2 .scoreBox {width:465px; height:13px; margin:0 auto; margin-bottom:16px }
.P_contBox2 .scoreBox .check_score { width:13px; height:13px; float:left; background:none; padding:0; margin:0; margin-right:6px }
.P_contBox2 .scoreBox .star_score { height:13px; float:left; margin-right:15px }
.P_contBox2 .scoreBox .btn_rating { float:left; font-size:14px; font-weight:600; letter-spacing:-0.05em; margin:-2px 0 0 0  }
.P_contBox2 .scoreBox .btn_rating a { color:#000 }












/* b_btn_area */
.b_btn_area { width:748px; height:36px; float:left; margin-top:17px }
.b_btn_area .btn_rgt { width:90px; height:34px; float:right; background-color:#3c69ad; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none; margin-left:10px }
.b_btn_area .btn_rgt2 { width:90px; height:34px; float:right; background-color:#9f9d9f; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none; margin-left:10px }
.b_btn_area .btn_lft { width:90px; height:34px; float:left; background-color:#3c69ad; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none }
.b_btn_area .btn_lft2 { width:90px; height:34px; float:left; background-color:#9f9d9f; padding:2px 0 0 0; font-size:14px; letter-spacing:-0.03em; color:#fff; border:none }



/* 160629 검색부분*/


.list_top002 { width:748px; height:37px }
.list_top002 .board_count002 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox002 { float:right; width:255px; height:38px; margin:0px 0px 0 0px }
.b_srch002 { float:left; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:0px }
.b_srch002 .b_srch_txt002 { float:left; width:197px; height:27px; border:none; padding-left:7px; margin:5px 0 0 5px }
.b_srch002 .b_go_btn002 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top003 { width:748px; height:37px }
.list_top003 .board_count003 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }
.list_top003 .publist_top_wrap003 { width:645px; float:right }
.list_top003 .publist_top_wrap003 .b_srchBox003 { float:left; width:559px; height:38px; margin:0px 0px 0 0px }
.list_top003 .publist_top_wrap003 .b_srchBox003 .b_selectBox003 { margin-left:15px }
.list_top003 .publist_top_wrap003 .b_srchBox003 .b_selectBox003 .b_select003 { float:left; width:86px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 3px; border:1px solid #dbdbdb; margin-left:3px }
.list_top003 .publist_top_wrap003 .b_srchBox003 .b_srch003 { float:right; width:183px; height:36px; border:1px solid #dbdbdb }
.list_top003 .publist_top_wrap003 .b_srchBox003 .b_srch003 .b_srch_txt003 { float:left; width:142px; height:27px; border:none; padding-left:0px; margin:5px 0 0 5px }
.list_top003 .publist_top_wrap003 .b_srchBox003 .b_srch003 .b_go_btn003 { float:left; width:22px; height:20px; margin:8px 0 0 0px }
.list_top003 .publist_top_wrap003 .b_srchBox_gap003 { float:right; width:1px; height:37px; margin-left:10px }
.list_top003 .publist_top_wrap003 .b_btn_listBox003 { float:right; width:auto; min-width:65px; margin:7px 0 0 10px }
.list_top003 .publist_top_wrap003 .b_btn_listBox003 .b_btn_block003 { float:left; width:24px; height:24px; border:none; padding:0; background:none }
.list_top003 .publist_top_wrap003 .b_btn_listBox003 .b_btn_blog003 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top003 .publist_top_wrap003 .b_btn_listBox003 .b_btn_list003 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top003 .publist_top_wrap003 .b_btn_listBox003 .b_btn_calendar003 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }



.list_top004 { width:748px; height:37px }
.list_top004 .board_count004 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox004 { float:right; width:390px; height:38px; margin:0px 0px 0 0px }
.b_srchBox004 .b_select004 { float:right; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.b_srchBox004 .b_srch004 { float:right; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox004 .b_srch004 .b_srch_txt004 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox004 .b_srch004 .b_go_btn004 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top005 { width:748px; height:37px }
.list_top005 .board_count005 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox005 { float:left; width:390px; height:38px; margin:0px 0px 0 170px }
.b_srchBox005 .b_select005 { float:left; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.b_srchBox005 .b_srch005 { float:left; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox005 .b_srch005 .b_srch_txt005 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox005 .b_srch005 .b_go_btn005 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }

.list_top005 .b_srchBox_gap005 { float:left; width:1px; height:37px; margin-left:15px }
.list_top005 .b_btn_listBox005 { float:left; width:auto; min-width:65px; margin:7px 0 0 15px }
.list_top005 .b_btn_listBox005 .b_btn_block005 { float:left; width:24px; height:24px; border:none; padding:0; background:none }
.list_top005 .b_btn_listBox005 .b_btn_blog005 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top005 .b_btn_listBox005 .b_btn_list005 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top005 .b_btn_listBox005 .b_btn_calendar005 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }



.list_top006 { width:748px; height:37px }
.list_top006 .board_count006 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox006 { float:right; width:390px; height:38px; margin:0px 0px 0 0px }
.b_srchBox006 .b_select006 { float:right; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.b_srchBox006 .b_srch006 { float:right; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox006 .b_srch006 .b_srch_txt006 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox006 .b_srch006 .b_go_btn006 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top007 { width:748px; height:37px }
.list_top007 .board_count007 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox007 { float:right; width:390px; height:38px; margin:0px 0px 0 0px }
.b_srchBox007 .b_select007 { float:right; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.b_srchBox007 .b_srch007 { float:right; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox007 .b_srch007 .b_srch_txt007 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox007 .b_srch007 .b_go_btn007 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top008 { width:748px; height:37px }
.list_top008 .board_count008 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox008 { float:right; width:390px; height:38px; margin:0px 0px 0 0px }
.b_srchBox008 .b_srch008 { float:right; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox008 .b_srch008 .b_srch_txt008 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox008 .b_srch008 .b_go_btn008 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top009 { width:748px; height:37px }
.list_top009 .board_count009 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox009 { float:right; width:390px; height:38px; margin:0px 0px 0 0px }
.b_srchBox009 .b_select009 { float:right; width:130px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.b_srchBox009 .b_srch009 { float:right; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox009 .b_srch009 .b_srch_txt009 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox009 .b_srch009 .b_go_btn009 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top010 { clear:both; width:748px; height:37px; margin-bottom:15px }

.list_top010 .b_btn_sortlistBox010 { float:left; width:193px; margin-left:295px }
.b_srchBox010 { float:left; width:260px; height:38px; margin:0px 0px 0 0px }
.b_srchBox010 .b_srch010 { float:left; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox010 .b_srch010 .b_srch_txt010 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }

.b_srchBox010 .b_srch010 .b_go_btn010 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top011 { clear:both; width:748px; height:37px; margin-bottom:15px }

.b_srchBox011 { width:317px; height:38px; float:right; margin:0px 0px 0 0px }
.b_srchBox011 label { float:left; margin:10px 0 0 0 }
.b_srchBox011 .b_srch011 { float:left; width:253px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox011 .b_srch011 .b_srch_txt011 { float:left; width:197px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox011 .b_srch011 .b_go_btn011 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }



.list_top012 { clear:both; width:748px; height:37px; margin-bottom:15px }

.b_srchBox012 { width:430px; height:38px; float:right; margin:0px 0px 0 0px }
.b_srchBox012 .b_chck012 { width:155px; float:left }
.b_srchBox012 .b_chck012 label { line-height:38px; margin:0 8px 0 0 }
.b_srchBox012 .b_srch012 { float:right; width:260px; height:36px; border:none }
.b_srchBox012 .b_srch012 .b_between { float:left; margin:12px 5px 0 5px }
.b_srchBox012 .b_srch012 .b_srch_txt012 { float:left; width:100px; height:27px; border:none; border:1px solid #dbdbdb; padding-left:5px; margin:5px 0 0 0px }
.b_srchBox012 .b_srch012 .b_go_btn012 { float:right; width:22px; height:20px; margin:8px 0 0 0px }


.list_top013 { width:748px; height:37px }
.list_top013 .board_count013 { float:left; font-size:16px; font-weight:400; letter-spacing:-0.03em; color:#858585; margin-top:8px }

.b_srchBox013 { float:left; width:270px; height:38px; margin:0px 0px 0 86px }
.b_srchBox013 .b_select013 { float:left; width:100px; height:38px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 3px; border:1px solid #dbdbdb }
.b_srchBox013 .b_srch013 { float:left; width:153px; height:36px; border:1px solid #dbdbdb; margin-left:5px }
.b_srchBox013 .b_srch013 .b_srch_txt013 { float:left; width:97px; height:27px; border:none; padding-left:3px; margin:5px 0 0 5px }
.b_srchBox013 .b_srch013 .b_go_btn013 { float:right; width:22px; height:20px; margin:8px 15px 0 0px }

.list_top013 .b_srchBox_gap013 { float:left; width:1px; height:37px; margin-left:15px }
.list_top013 .b_btn_listBox013 { float:left; width:auto; min-width:65px; margin:7px 0 0 15px }
.list_top013 .b_btn_listBox013 .b_btn_block013 { float:left; width:24px; height:24px; border:none; padding:0; background:none }
.list_top013 .b_btn_listBox013 .b_btn_blog013 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top013 .b_btn_listBox013 .b_btn_list013 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }
.list_top013 .b_btn_listBox013 .b_btn_calendar013 { float:left; width:24px; height:24px; border:none; padding:0; background:none; margin-left:14px }





/* write002 */
.basic_writeWrap002 { width:100%; float:left }
table.skin_write002 { width:748px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write002 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write002 td { text-align:left; font-weight:400; color:#646464; padding:16px 10px 16px 10px; border-bottom:1px solid #e1e1e1 }
table.skin_write002 td .txtBox002 { width:600px; height:350px }
table.skin_write002 td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write002 td.r_line_none { border-right:none }

.input_txt00201 { width:565px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.select00201 { float:left; width:137px; height:35px; float:left; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb; margin:0 10px 0 0 }
.b_btn_00201 { width:28px; height:28px; border:none; background:none; padding:0; vertical-align:middle }
.b_btn_00201 img { width:28px; height:28px; }


/* write003 */
.basic_writeWrap003 { width:100%; float:left }
table.skin_write003 { width:748px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write003 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write003 td { text-align:left; font-weight:400; color:#646464; padding:16px 10px 16px 10px; border-bottom:1px solid #e1e1e1 }
table.skin_write003 td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write003 td.r_line_none { border-right:none }

.input_txt00301 { width:565px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.input_txtBox00301 { width:555px !important; max-height:180px; font-size:16px; padding:10px; border:1px solid #dbdbdb; }
.select00301 { float:left; width:137px; height:35px; font-size:14px; font-weight:400; color:#646464; padding:0 0 0 5px; border:1px solid #dbdbdb }
.redTxt { color:#f00; margin-bottom:10px }


/* write004 */
.basic_writeWrap004 { width:100%; float:left }
table.skin_write004 { width:748px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write004 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write004 td { text-align:left; font-weight:400; color:#646464; padding:16px 10px 16px 10px; border-bottom:1px solid #e1e1e1 }
table.skin_write004 td .txtBox002 { width:600px; height:350px }
table.skin_write004 td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write004 td.r_line_none { border-right:none }

.input_txt00401 { width:490px; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.checkBox00401 { width:55px; float:right; margin:10px 0 0 0 }
.b_btn_00401 { width:28px; height:28px; border:none; background:none; padding:0; vertical-align:middle }
.b_btn_00401 img { width:28px; height:28px; }


/* write005 */
.basic_writeWrap005 { width:100%; float:left }
table.skin_write005 { width:748px; font-size:14px; letter-spacing:-0.03em; border-top:1px solid #00baff; border-bottom:1px solid #e1e1e1; border-collapse:collapse; margin-bottom:50px }
table caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0 }
table.skin_write005 th { text-align:center; font-weight:600; color:#646464; padding:16px 0 16px 0; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; background-color:#fafafa; }
table.skin_write005 th.r_line_none { border-right:none }
table.skin_write005 td { text-align:left; font-weight:400; color:#646464; padding:16px 10px 16px 10px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1 }
table.skin_write005 td.p_top_btm_6 { padding-top:6px; padding-bottom:6px }
table.skin_write005 td.r_line_none { border-right:none }

.input_txt00501 { width:96%; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.input_txt00502 { width:92%; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.input_txt00503 { width:84%; height:34px; font-size:16px; padding-left:10px; border:1px solid #dbdbdb; }
.select00501 { width:100%; border:1px solid #ebebeb; padding:5px }
.checkBox00501 { width:65px; float:left; margin:0 7px 0 0; font-size:12px }
.checkBox00502 { width:53px; float:left; margin:0 7px 0 0; font-size:12px }
table.skin_write005 td textarea { width:719px; height:350px }
.b_btn_00501 { width:28px; height:28px; border:none; background:none; padding:0; vertical-align:middle }
.b_btn_00501 img { width:28px; height:28px; }
.zoom005 { float:right }
.zoom005 .btn_add005 { width:25px; height:25px; font-size:17px; color:#fff; background-color:#999; border:none }
.zoom005 .btn_del005 { width:25px; height:25px; font-size:17px; color:#fff; background-color:#999; border:none }
}